[Desktop Entry]
Name=KGet Data Engine
Name[ar]=KGet البيانات المحرك
Name[ast]=Motor de KGet Data
Name[bg]=Ядро за данни на KGet
Name[bs]=Pogon podataka za KGet
Name[ca]=Motor de dades del KGet
Name[ca@valencia]=Motor de dades del KGet
Name[cs]=Datový nástroj KGet
Name[da]=KGet datamotor
Name[de]=KGet-Datenmodul
Name[el]=Μηχανή δεδομένων του KGet
Name[en_GB]=KGet Data Engine
Name[eo]=KGet datuma motoro
Name[es]=Motor de KGet Data
Name[et]=KGeti andmete mootor
Name[eu]=KGet-eko datuen motorra
Name[fi]=KGet-moottori
Name[fr]=Moteur de données KGet
Name[ga]=Inneall Sonraí KGet
Name[gl]=Motor de datos de KGet
Name[hi]=केगेट डाटा इंजिन
Name[hne]=केगेट डाटा इंजिन
Name[hr]=Podatkovni mehanizam za KGet
Name[hu]=KGet feldolgozómodul
Name[ia]=Motor de datos de KGet
Name[is]=KGet gagnavél
Name[it]=Sorgente di dati di KGet
Name[ja]=KGet データエンジン
Name[kk]=KGet дерек тетігі
Name[km]=ម៉ាស៊ីន​ទិន្នន័យ KGet
Name[ko]=KGet 데이터 엔진
Name[lt]=KGet duomenų sistema
Name[lv]=KGet datu dzinējs
Name[ml]=കെഗെറ്റ് ഡാറ്റാ യന്ത്രം
Name[nb]=KGet datamotor
Name[nds]=KGet-Datenkarn
Name[nl]=KGet (gegevensengine)
Name[nn]=KGet-datamotor
Name[pa]=KGet ਡਾਟਾ ਇੰਜਣ
Name[pl]=Silnik danych KGet
Name[pt]=Motor de Dados do KGet
Name[pt_BR]=Mecanismo de dados do KGet
Name[ro]=Motor de date KGet
Name[ru]=Движок данных KGet
Name[si]=KGet දත්ත එළවුම
Name[sk]=Dátový nástroj KGet
Name[sl]=Podatkovni pogon KGet
Name[sr]=датомотор К‑гета
Name[sr@ijekavian]=датомотор К‑гета
Name[sr@ijekavianlatin]=datomotor KGeta
Name[sr@latin]=datomotor KGeta
Name[sv]=Datagränssnitt för Kget
Name[tr]=KGet Veri Motoru
Name[uk]=Рушій даних KGet
Name[x-test]=xxKGet Data Enginexx
Name[zh_CN]=KGet 数据引擎
Name[zh_TW]=KGet 資料引擎
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=kget
X-KDE-Library=plasma_engine_kget
X-KDE-PluginInfo-Name=kget
