[Desktop Entry]
Name=KGet Data Engine
Name[ca]=Motor de dades del KGet
Name[cs]=Datový nástroj KGet
Name[de]=KGet-Datenmodul
Name[el]=Μηχανή δεδομένων του KGet
Name[eo]=KGet datuma motoro
Name[et]=KGeti andmete mootor
Name[fi]=KGet-moottori
Name[gl]=Motor de datos de KGet
Name[is]=KGet gagnavél
Name[ja]=KGet データエンジン
Name[lv]=KGet datu dzinējs
Name[nb]=KGet datamotor
Name[nds]=KGet-Hanteerkarn
Name[nl]=KGet (gegevensengine)
Name[pl]=Silnik danych KGet
Name[pt]=Motor de Dados do KGet
Name[pt_BR]=Motor de Dados do KGet
Name[sv]=Datagränssnitt för Kget
Name[tr]=KGet Veri Motoru
Name[x-test]=xxKGet Data Enginexx
Name[zh_CN]=KGet 数据引擎
Name[zh_TW]=KGet 資料引擎
ServiceTypes=Plasma/DataEngine
Type=Service
Icon=kget
X-KDE-Library=plasma_engine_kget
X-Plasma-EngineName=kget
