[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kget_checksumsearchfactory
X-KDE-ParentComponents=kget_checksumsearch_plugin

Name=ChecksumSearch
Name[et]=Kontrollsumma otsing
Name[gl]=Procura de suma de comprobación
Name[ko]=ChecksumSearch
Name[nb]=Sjekksumsøk
Name[nds]=Pröövsumm-Söök
Name[nl]=ChecksumSearch
Name[nn]=Sjekksum-søk
Name[pt]=Pesquisa por Código de Validação
Name[pt_BR]=Pesquisa de soma de verificação
Name[sv]=Checksummesökning
Name[tr]=Sağlama Araması
Name[uk]=Пошук конрольної суми
Name[x-test]=xxChecksumSearchxx
Name[zh_TW]=驗證碼搜尋
