[Desktop Entry]
# service definition
Type=Service
X-KDE-ServiceTypes=KGet/Plugin
Icon=kget

# standard fields
Name=Checksum Search
Name[et]=Kontrollsumma otsing
Name[gl]=Procura de suma de comprobación
Name[ko]=체크섬 검색
Name[nb]=Sjekksum-søk
Name[nds]=Pröövsumm-Söök
Name[nl]=Controlesom zoeken
Name[nn]=Sjekksum-søk
Name[pt]=Pesquisa por Código de Validação
Name[pt_BR]=Pesquisa de soma de verificação
Name[sv]=Checksummesökning
Name[tr]=Sağlama Araması
Name[uk]=Пошук контрольної суми
Name[x-test]=xxChecksum Searchxx
Name[zh_TW]=驗證碼搜尋

Comment=Tries to find checksums for a specified URL
Comment[et]=Kontrollsumma otsimine määratud URL-ilt
Comment[gl]=Tenta atopar sumas de comprobación para un url que se especifique
Comment[ko]=지정한 URL의 체크섬을 검색합니다
Comment[nb]=Forsøker å finne sjekksummer for en gitt URL
Comment[nds]=Söcht na en Pröövsumm för en angeven URL
Comment[nl]=Probeert controlesommen voor een gespecificeerde URL te vinden
Comment[nn]=Prøver å finna sjekksummar for oppgjevne adresser
Comment[pt]=Tenta pesquisar os códigos de validação ('checksums') para um dado URL
Comment[pt_BR]=Tenta encontrar as somas de verificação para uma URL especificada
Comment[sv]=Försöker hitta checksummor för en specifik webbadress
Comment[tr]=Belirli bir adres için sağlamaları bulmaya çalışır
Comment[uk]=Намагається знайти контрольні суми файла за вказаною адресою
Comment[x-test]=xxTries to find checksums for a specified urlxx
Comment[zh_TW]=試著尋找指定網址的驗證碼

# options for library loader
X-KDE-Library=kget_checksumsearchfactory
X-KDE-KGet-plugintype=TransferFactory
X-KDE-KGet-rank=30
X-KDE-KGet-framework-version=1

X-KDE-PluginInfo-Author=Matthias Fuchs
X-KDE-PluginInfo-Email=mat69@gmx.net
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=kget_checksumsearch_plugin
