[Desktop Entry]
# service definition
Type=Service
X-KDE-ServiceTypes=KGet/Plugin
Icon=kget

# standard fields
Name=Checksum Search
Name[en_GB]=Checksum Search
Name[et]=Kontrollsumma otsing
Name[gl]=Procura de suma de comprobación
Name[ko]=체크섬 검색
Name[nb]=Sjekksum-søk
Name[nds]=Pröövsumm-Söök
Name[nl]=Controlesom zoeken
Name[nn]=Sjekksum-søk
Name[pt]=Pesquisa por Código de Validação
Name[pt_BR]=Pesquisa de soma de verificação
Name[sv]=Checksummesökning
Name[tr]=Sağlama Araması
Name[uk]=Пошук контрольної суми
Name[x-test]=xxChecksum Searchxx
Name[zh_TW]=驗證碼搜尋

Comment=Tries to find checksums for a specified URL

# options for library loader
X-KDE-Library=kget_checksumsearchfactory
X-KDE-KGet-plugintype=TransferFactory
X-KDE-KGet-rank=30
X-KDE-KGet-framework-version=1

X-KDE-PluginInfo-Author=Matthias Fuchs
X-KDE-PluginInfo-Email=mat69@gmx.net
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=kget_checksumsearch_plugin
