[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kget_checksumsearchfactory
X-KDE-ParentComponents=kget_checksumsearch_plugin

Name=ChecksumSearch
Name[pt]=Pesquisa por Código de Validação
Name[pt_BR]=Pesquisa por Código de Validação
Name[sv]=Checksummesökning
Name[uk]=Пошук конрольної суми
Name[x-test]=xxChecksumSearchxx
