[Desktop Entry]
# service definition
Type=Service
X-KDE-ServiceTypes=KGet/Plugin
Icon=kget

# standard fields
Name=Checksum Search
Name[ca]=Cerca de suma de verificació
Name[da]=Tjeksum-søgning
Name[en_GB]=Checksum Search
Name[es]=Buscar comprabación de suma
Name[et]=Kontrollsumma otsing
Name[gl]=Procura de suma de comprobación
Name[hr]=Pretraživač kontrolnih suma
Name[ko]=체크섬 검색
Name[nb]=Sjekksum-søk
Name[nds]=Pröövsumm-Söök
Name[nl]=Controlesom zoeken
Name[nn]=Sjekksum-søk
Name[pt]=Pesquisa por Código de Validação
Name[pt_BR]=Pesquisa de soma de verificação
Name[sk]=Hľadanie kontrolného súčtu
Name[sr]=Тражење контролних сума
Name[sr@latin]=Traženje kontrolnih suma
Name[sv]=Checksummesökning
Name[tr]=Sağlama Araması
Name[uk]=Пошук контрольної суми
Name[x-test]=xxChecksum Searchxx
Name[zh_CN]=校验和搜索
Name[zh_TW]=驗證碼搜尋

Comment=Tries to find checksums for a specified URL
Comment[ca]=Intenta cercar sumes de verificació per a un URL especificat
Comment[da]=Forsøger at finde tjeksummer for en angivet URL
Comment[en_GB]=Tries to find checksums for a specified URL
Comment[es]=Intenta encontrar comprobación de suma para una dirección URL específicada
Comment[et]=Kontrollsumma otsimine määratud URL-ilt
Comment[gl]=Tenta atopar sumas de comprobación para un URL que se indique
Comment[ko]=지정한 URL의 체크섬을 검색합니다
Comment[nb]=Forsøker å finne sjekksummer for en gitt URL
Comment[nl]=Probeert controlesommen voor een gespecificeerde URL te vinden
Comment[nn]=Prøver å finna sjekksummar for oppgjevne adresser
Comment[pt]=Tenta pesquisar os códigos de validação ('checksums') para um dado URL
Comment[pt_BR]=Tenta encontrar as somas de verificação para um URL especificado
Comment[sk]=Pokúsi sa nájsť kontrolné súčty pre zadanú URL
Comment[sr]=Покушава да нађе контролне суме за наведени УРЛ
Comment[sr@latin]=Pokušava da nađe kontrolne sume za navedeni URL
Comment[sv]=Försöker hitta checksummor för en specifik webbadress
Comment[tr]=Belirtilen bir adres için sağlamaları bulmaya çalışır
Comment[uk]=Намагається знайти контрольні суми файла за вказаною адресою
Comment[x-test]=xxTries to find checksums for a specified URLxx
Comment[zh_CN]=尝试查找指定 URL 的数据校验和
Comment[zh_TW]=試著尋找指定網址的驗證碼

# options for library loader
X-KDE-Library=kget_checksumsearchfactory
X-KDE-KGet-plugintype=TransferFactory
X-KDE-KGet-rank=30
X-KDE-KGet-framework-version=1

X-KDE-PluginInfo-Author=Matthias Fuchs
X-KDE-PluginInfo-Email=mat69@gmx.net
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=kget_checksumsearch_plugin
