[Desktop Entry]
Encoding=UTF-8
Actions=KGetDownload;
Icon=
ServiceTypes=all/allfiles
ExcludeServiceTypes=kdedevice/*

[Desktop Action KGetDownload]
Exec=kget %U
Icon=kget
Name=Download with KGet
Name[da]=Download med KGet
Name[et]=Laadi alla KGeti abil
Name[ga]=Íosluchtaigh le KGet
Name[pt_BR]=Baixar com o KGet
Name[sv]=Ladda ner med Kget
Name[tr]=KGet ile İndir
