# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kget -caption "%c" %i %m
Icon=kget
Terminal=false
Name=KGet
Name[ar]=ك.جيت
Name[cy]=KNôl
Name[eo]=Prenilo
Name[hi]=के-गेट
Name[sv]=Kget
Name[ta]=கேகெட்
Name[th]=ดาวน์โหลด K
Name[ven]=Wana ha K
Name[xx]=xxKGetxx
GenericName=Download Manager
GenericName[ar]=إدارة التحميل 
GenericName[bg]=Изтегляне на файлове
GenericName[br]=Merour enkargañ
GenericName[bs]=Upravitelj downloadom
GenericName[ca]=Gestor de descàrregues
GenericName[cs]=Správce stahování
GenericName[cy]=Rheolydd Lawrlwytho
GenericName[da]=Håndtering af nedtagninger
GenericName[de]=Datentransfer-Verwaltung
GenericName[el]=Διαχειριστής κατεβάσματος αρχείων
GenericName[es]=Gestor de descargas
GenericName[et]=Allalaadimiste haldur
GenericName[eu]=Deskarga kudeatzailea
GenericName[fi]=Tiedostonlataaja
GenericName[fr]=Gestionnaire de téléchargements
GenericName[ga]=Bainisteoir Thíosluchtaithe
GenericName[gl]=Xestor de Descargas
GenericName[he]=מנהל הורדות
GenericName[hi]=डाउनलोड प्रबंधक
GenericName[hr]=Upravitelj preuzimanja
GenericName[hu]=Letöltéskezelő
GenericName[is]=Niðurhalsstjóri
GenericName[it]=Gestore dei download
GenericName[ja]=ダウンロードマネージャ
GenericName[lt]=Siuntimų valdymas
GenericName[mk]=Менаџер за симнувања
GenericName[nb]=Nedlastingsbehandler
GenericName[nl]=Downloadmanager
GenericName[nn]=Nedlastingshandsamar
GenericName[pl]=Menedżer pobierania
GenericName[pt]=Gestor de Transferências
GenericName[pt_BR]=Gerenciador de Download
GenericName[ru]=Диспетчер загрузок
GenericName[sk]=Správca sťahovania
GenericName[sl]=Upravitelj prenosov
GenericName[sr]=Менаџер преузимања
GenericName[sr@Latn]=Menadžer preuzimanja
GenericName[sv]=Nerladdningshanterare
GenericName[ta]=பதிவிறக்க மேலாளர்
GenericName[tg]=Мудири Боркунӣ
GenericName[tr]=İndirme Yöneticisi
GenericName[uk]=Менеджер звантажень
GenericName[uz]=Ёзиб олиш бошқарувчиси
GenericName[xx]=xxDownload Managerxx
GenericName[zh_CN]=下载管理器
Categories=Qt;KDE;Network;
X-DCOP-ServiceType=Unique
