# KDE Config File  
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kget -caption "%c" %i %m  
Icon=kget
Terminal=false
Name=KGet
GenericName=Download Manager
Categories=Qt;KDE;Network;
