[Desktop Entry]
Encoding=UTF-8
Actions=KGetDownload;
Icon=
ServiceTypes=all/allfiles
ExcludeServiceTypes=kdedevice/*

[Desktop Action KGetDownload]
Exec=kget %U
Icon=kget
Name=Download with KGet
Name[bg]=Изтегляне с KGet
Name[cs]=Stáhnout pomocí KGet
Name[da]=Download med KGet
Name[de]=Mit KGet herunterladen
Name[el]=Λήψη αρχείου με το KGet
Name[es]=Descarga con KGet
Name[et]=Laadi alla KGeti abil
Name[fr]=Télécharger avec KGet
Name[ga]=Íosluchtaigh le KGet
Name[gl]=Descargar con KGet
Name[it]=Scarica con KGet
Name[nb]=Nedlasting med KGet
Name[nl]=Met KGet downloaden
Name[nn]=Last ned med KGet
Name[pl]=Pobierz za pomocą KGet
Name[pt]=Obter com o KGet
Name[pt_BR]=Baixar com o KGet
Name[ru]=Загрузить с помощью KGet
Name[sr]=Преузми са KGet-ом
Name[sr@Latn]=Preuzmi sa KGet-om
Name[sv]=Ladda ner med Kget
Name[tr]=KGet ile İndir
Name[uk]=Звантажити з KGet
Name[xx]=xxDownload with KGetxx
Name[zh_CN]=用 KGet 下载
