# KDE Config File  
[Desktop Entry]
Type=Application
Exec=kget -caption "%c" %i %m  
Icon=kget
Comment=
Terminal=0
Name=KGet
Name[ar]=ك.جيت
Name[eo]=Prenilo
Name[ss]=I-KGet
Name[sv]=Kget
Name[th]=ดาวน์โหลด K
Name[ven]=Wana ha K
