[Desktop Entry]
X-KDE-AutoEmbed=false
Encoding=UTF-8
Comment=Kget Download List
Comment[bg]=Списък за изтегляне на Kget
Comment[bs]=KGet download lista
Comment[ca]=Llista de descàrrega del Kget
Comment[cs]=Seznam stahování KGet
Comment[da]=KGet-nedtagningsliste
Comment[de]=Kget Dateiliste zum Herunterladen
Comment[el]=Λίστα κατεβάσματος του Kget
Comment[eo]=Kget Deŝutolisto
Comment[es]=Lista de descarga de Kget
Comment[et]=Kgeti allalaadimise nimekiri
Comment[fi]=Kget hakulista
Comment[fr]=Liste de téléchargement de KGet
Comment[he]=רשימת הורדה של Kget
Comment[hu]=KGet letöltési lista
Comment[it]=Lista download KGet
Comment[ja]=Kget ダウンロードリスト
Comment[lt]=Kget atsisiuntimų sąrašas
Comment[mt]=Lista ta' downloads KGet
Comment[nb]=Kget nedlastingsliste
Comment[nl]=Kget-downloadlijst
Comment[nn]=Nedlastingsliste for Kget
Comment[nso]=Palo ya Ngwalollo ya Kget
Comment[pl]=Lista plików do pobrania przez KGet
Comment[pt]=Lista de Transferências do KGet
Comment[pt_BR]=Lista de Download do Kget
Comment[ru]=Список закачки KGet
Comment[sk]=Kget zoznam sťahovania
Comment[sl]=Seznam datotek za nalaganje od KGet
Comment[sv]=Nerladdningslista för Kget
Comment[tr]=KGet İndirme Listesi
Comment[uk]=Список звантаження kget
Comment[ven]=Mutevhe wau hwesulula wa Kget
Comment[xh]=Uluhlu lwe Kget loku Layishela ezantsi
Comment[zh_CN]=Kget 下载清单
Comment[zh_TW]=Kget 下載清單
Comment[zu]=I-Kget ye-listi Yokugcwalisela phansi
Icon=kget_list.png
Type=MimeType
MimeType=application/x-kgetlist
Patterns=*.kgt;
DefaultApp=KGet
