[Desktop Entry]
X-KDE-AutoEmbed=false
Comment=Kget Download List
Comment[ar]=قائمة تنزيل ك.جيت
Comment[be]=Спіс сцягвання Kget
Comment[bg]=Списък за изтегляне на Kget
Comment[bn]=কে-গেট ডাউনলোড তালিকা
Comment[br]=Roll enkargañ Kget
Comment[bs]=KGet download lista
Comment[ca]=Llista de descàrrega del Kget
Comment[cs]=Seznam stahování KGet
Comment[cy]=Rhestr Lawrlwytho KNôl
Comment[da]=KGet-download-liste
Comment[de]=Kget Dateiliste zum Herunterladen
Comment[el]=Λίστα λήψεων αρχείων του Kget
Comment[eo]=Kget Deŝutolisto
Comment[es]=Lista de descarga de KGet
Comment[et]=KGeti allalaadimise nimekiri
Comment[eu]=Kget deskargatzeko zerrenda
Comment[fa]=فهرست بارگیری Kget
Comment[fi]=Kget-hakulista
Comment[fr]=Liste de téléchargement de KGet
Comment[ga]=Liosta Thíosluchtaithe Kget
Comment[gl]=Lista de Descargas de KGet
Comment[he]=רשימת הורדה של Kget
Comment[hi]=के-गेट डाउनलोड सूची
Comment[hr]=Kget lista za preuzimanje
Comment[hu]=KGet letöltési lista
Comment[is]=Kget niðurhalslisti
Comment[it]=Lista scaricamenti di KGet
Comment[ja]=Kget ダウンロードリスト
Comment[ka]=Kget ჩამოქაჩვათა სია
Comment[kk]=Kget жүктеу тізімі
Comment[km]=បញ្ជី​ការ​ទាញយក​របស់ Kget
Comment[lt]=Kget atsisiuntimų sąrašas
Comment[mk]=Листа на симнувања во Kget 
Comment[mn]=KGet жагсаалтыг Татаж авах
Comment[ms]=Senarai Muat turun Kget
Comment[mt]=Lista ta' downloads KGet
Comment[nb]=Kget nedlastingsliste
Comment[nds]=KGet-Daalladenlist
Comment[ne]=केडीई गेट डाउनलोड सूची
Comment[nl]=Kget-downloadlijst
Comment[nn]=Nedlastingsliste for Kget
Comment[nso]=Palo ya Ngwalollo ya Kget
Comment[pa]=Kget ਡਾਊਨਲੋਡ ਸੂਚੀ
Comment[pl]=Lista plików do pobrania przez KGet
Comment[pt]=Lista de Transferências do KGet
Comment[pt_BR]=Lista de Download do Kget
Comment[ro]=Listă de transfer KGet
Comment[ru]=Список заданий KGet
Comment[se]=Kget:a viežžanlisttu
Comment[sk]=Kget zoznam sťahovania
Comment[sl]=Seznam datotek za prenos s KGet
Comment[sr]=Kget-ова листа преузимања
Comment[sr@Latn]=Kget-ova lista preuzimanja
Comment[sv]=Nerladdningslista för Kget
Comment[ta]=கேகெட் பதிவிறக்க பட்டியல்
Comment[tg]=Рӯйхати Боркунии Kget
Comment[th]=รายการดาวน์โหลด K
Comment[tr]=KGet İndirme Listesi
Comment[uk]=Список звантаження kget
Comment[ven]=Mutevhe wau hwesulula wa Kget
Comment[wa]=Djivêye des aberwetaedjes di Kget
Comment[xh]=Uluhlu lwe Kget loku Layishela ezantsi
Comment[zh_CN]=Kget 下载清单
Comment[zh_HK]=Kget 下載清單
Comment[zh_TW]=Kget 下載清單
Comment[zu]=I-Kget ye-listi Yokugcwalisela phansi
Icon=kget_list
Type=MimeType
MimeType=application/x-kgetlist
Patterns=*.kgt;
DefaultApp=KGet
