[Desktop Entry]
Encoding=UTF-8
Name=KGet Barchart Applet
Name[ast]=Miniaplicación gráfica de barres de KGet
Name[bs]=trakasti grafikon KGeta
Name[ca]=Miniaplicació de diagrama de barres del KGet
Name[ca@valencia]=Miniaplicació de diagrama de barres del KGet
Name[cs]=Applet pro sloupcový graf v KGet
Name[da]=KGet søjlediagram-applet
Name[de]=KGet Balkengrafik-Modul
Name[el]=Μικροεφαρμογή ραβδογραφήματος KGet
Name[en_GB]=KGet Barchart Applet
Name[es]=Miniaplicación de gráfica de barras de KGet
Name[et]=KGeti tulpdiagrammi aplett
Name[eu]=KGet-eko barra-diagramen miniaplikazioa
Name[fi]=KGetin pylväskaaviosovelma
Name[fr]=Applet d'histogramme pour KGet
Name[ga]=Feidhmchláirín barrachairte KGet
Name[gl]=Applet de diagrama de barras de KGet
Name[hr]=Applet za stupčasti dijagram za KGet
Name[hu]=KGet oszlopdiagram
Name[ia]=Applet Barchart de KGet (carta a barras)
Name[it]=Grafici a barre per KGet
Name[ja]=KGet 棒グラフアプレット
Name[kk]=KGet гистограмма апплеті
Name[km]=អាប់ភ្លេត​គំនូស​តាង​របស់ KGet
Name[ko]=KGet 막대 그래프 애플릿
Name[lt]=KGet stulpelinės diagramos programėlė
Name[lv]=KGet stabiņu tabulas sīkrīks
Name[nb]=Miniprogram for KGet-stolpediagram
Name[nds]=KGet-Balkengrafik-Lüttprogramm
Name[nl]=Balkgrafiekapplet voor KGet
Name[nn]=KGet-søylediagram
Name[pa]=ਕੇ-ਗਿੱਟ ਬਾਰਚਾਰਟ ਐਪਲਿਟ
Name[pl]=Wykres słupkowy w KGet
Name[pt]='Applet' de Gráfico de Barras do KGet
Name[pt_BR]=Miniaplicativo de gráfico de barras do KGet
Name[ro]=Miniaplicație KGet DiagramăBară
Name[ru]=KGet: ход загрузки
Name[si]=KGet තීරු ප්‍රස්ථාර යෙදුම
Name[sk]=Stĺpcový graf pre KGet
Name[sl]=KGet (stolpični graf)
Name[sr]=тракасти графикон К‑гета
Name[sr@ijekavian]=тракасти графикон К‑гета
Name[sr@ijekavianlatin]=trakasti grafikon KGeta
Name[sr@latin]=trakasti grafikon KGeta
Name[sv]=Stapeldiagram-miniprogram för Kget
Name[tr]=KGet Sütun Grafiği Programcığı
Name[uk]=Аплет гістограми KGet
Name[x-test]=xxKGet Barchart Appletxx
Name[zh_CN]=KGet 柱形图小程序
Name[zh_TW]=KGet 圖表小程式
Comment=KGet barchart applet
Comment[ar]=بريمج KGet عمود خُطاطة
Comment[ast]=Miniaplicación gráfica de barres de KGet
Comment[bs]=Aplet trakastog grafikona za KGet
Comment[ca]=Miniaplicació de diagrama de barres del KGet
Comment[ca@valencia]=Miniaplicació de diagrama de barres del KGet
Comment[cs]=Applet pro sloupcový graf v KGet
Comment[da]=KGet søjlediagram-applet
Comment[de]=KGet Balkengrafik-Modul
Comment[el]=Μικροεφαρμογή ραβδογραφήματος KGet
Comment[en_GB]=KGet barchart applet
Comment[es]=Miniaplicación de gráfica de barras de KGet
Comment[et]=KGeti tulpdiagrammi aplett
Comment[eu]=KGet-eko barra-diagramen miniaplikazioa
Comment[fi]=KGetin pylväskaaviosovelma
Comment[fr]=Applet d'histogramme pour KGet
Comment[ga]=Feidhmchláirín barrachairte KGet
Comment[gl]=Applet de diagrama de barras de KGet
Comment[hne]=केगेट बारचार्ट ऐप्लेट
Comment[hr]=Applet za stupčasti dijagram za KGet
Comment[hu]=KGet oszlopdiagram
Comment[ia]=Applet Barchart de KGet (carta a barras)
Comment[it]=Grafici a barre per KGet
Comment[ja]=KGet 棒グラフアプレット
Comment[kk]=KGet гистограммасының апплеті
Comment[km]=អាប់ភ្លេត​គំនូស​តាង​របារ​របស់ KGet
Comment[ko]=KGet 막대 그래프 애플릿
Comment[lt]=KGet stulpelinės diagramos programėlė
Comment[lv]=KGet stabiņu tabulas sīkrīks
Comment[ml]=കെഗെറ്റ് ബാര്‍ചാര്‍ട്ട് എന്ന ലഘുപ്രയോഗം
Comment[nb]=Miniprogram for KGet-stolpediagram
Comment[nds]=Balkengrafik-Lüttprogramm för KGet
Comment[nl]=Balkgrafiekapplet voor KGet
Comment[nn]=KGet-søylediagram
Comment[pa]=ਕੇ-ਗਿੱਟ ਬਾਰਚਾਰਟ ਐਪਲਿਟ
Comment[pl]=Aplet KGet pokazujący wykres słupkowy
Comment[pt]='Applet' de gráfico de barras do KGet
Comment[pt_BR]=Miniaplicativo de gráfico de barras do KGet
Comment[ro]=Miniaplicație KGet DiagramăBară
Comment[ru]=Показывает ход выполнения загрузок в KGet в виде горизонтальной столбчатой диаграммы
Comment[si]=KGet තීරු ප්‍රස්ථාර යෙදුම
Comment[sk]=Stĺpcový graf pre KGet
Comment[sl]=Stolpični graf prenosov v KGet
Comment[sq]=KGet barchart applet
Comment[sr]=Аплет тракастог графикона за К‑гет
Comment[sr@ijekavian]=Аплет тракастог графикона за К‑гет
Comment[sr@ijekavianlatin]=Aplet trakastog grafikona za KGet
Comment[sr@latin]=Aplet trakastog grafikona za KGet
Comment[sv]=Stapeldiagram-miniprogram för Kget
Comment[tr]=KGet sütun grafiği programcığı
Comment[uk]=Аплет гістограми KGet
Comment[x-test]=xxKGet barchart appletxx
Comment[zh_CN]=KGet 柱形图小程序
Comment[zh_TW]=KGet 圖表小程式
Icon=kget
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_kget_barapplet

X-KDE-PluginInfo-Author=Javier Goday
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=barapplet
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

