[Desktop Entry]
Encoding=UTF-8
Name=KGet barchart applet
Name[el]=Μικροεφαρμογή ραβδογραφήματος KGet
Name[et]=KGeti tulpdiagrammi aplett
Name[gl]=Applet de diagrama de barras de KGet
Name[km]=អាប់ភ្លេត​គំនូសតាង​របារ​​របស់ KGet
Name[nds]=KGet-Balkengrafik-Lüttprogramm
Name[pt]='Applet' de gráfico de barras do KGet
Name[pt_BR]=Applet de gráfico de barras do KGet
Name[sl]=KGet (stolpični graf)
Name[sv]=Stapeldiagram-miniprogram för Kget
Name[tr]=KGet sütun grafiği programcığı
Name[uk]=Аплет гістограми KGet
Name[zh_CN]=KGet 柱形图小程序
Name[zh_TW]=KGet 圖表小程式
Comment=KGet barchart applet
Comment[el]=Μικροεφαρμογή ραβδογραφήματος KGet
Comment[et]=KGeti tulpdiagrammi aplett
Comment[gl]=Applet de diagrama de barras de KGet
Comment[km]=អាប់ភ្លេត​គំនូស​តាង​របារ​របស់ KGet
Comment[nds]=Balkengrafik-Lüttprogramm för KGet
Comment[pt]='Applet' de gráfico de barras do KGet
Comment[pt_BR]=Applet de gráfico de barras do KGet
Comment[sl]=Stolpični graf prenosov v KGet
Comment[sv]=Stapeldiagram-miniprogram för Kget
Comment[tr]=KGet sütun grafiği programcığı
Comment[uk]=Аплет гістограми KGet
Comment[zh_CN]=KGet 柱形图小程序
Comment[zh_TW]=KGet 圖表小程式
Icon=kget
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_kget_barapplet

X-KDE-PluginInfo-Author=Javier Goday
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=barapplet
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Misc
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

