[Desktop Entry]
Encoding=UTF-8
Name=KGet barchart applet
Name[et]=KGeti tulpdiagrammi aplett
Name[km]=អាប់ភ្លេត​គំនូសតាង​របារ​​របស់ KGet
Name[tr]=KGet sütun grafiği programcığı
Name[uk]=Аплет гістограми KGet
Name[zh_TW]=KGet 圖表小程式
Comment=KGet barchart applet
Comment[et]=KGeti tulpdiagrammi aplett
Comment[km]=អាប់ភ្លេត​គំនូស​តាង​របារ​របស់ KGet
Comment[tr]=KGet sütun grafiği programcığı
Comment[uk]=Аплет гістограми KGet
Comment[zh_TW]=KGet 圖表小程式
Icon=kget
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_kget_barapplet

X-KDE-PluginInfo-Author=Javier Goday
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=barapplet
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Misc
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

