[Desktop Entry]
# service definition
Type=Service
X-KDE-ServiceTypes=KGet/Plugin
Icon=kget

# standard fields
Name=Metalink
Name[ar]=ميتالينك
Name[ca]=Metaenllaç
Name[hne]=मेटालिंक
Name[ja]=メタリンク
Name[km]=តំណ​មេតា
Name[ko]=메타링크
Name[ml]=സവിശേഷകണ്ണി
Name[nn]=MetaLink
Name[pa]=ਮੇਟਾਲਿੰਕ
Name[pt_BR]=Metacontato
Name[sr]=Металинк
Name[sr@latin]=MetaLink
Name[x-test]=xxMetalinkxx
Name[zh_CN]=超级链接
Comment=Allows files to be downloaded from Metalink
Comment[et]=Võimaldab laadida faile alla Metalinkist
Comment[nds]=Mit dit Moduul kannst Du Dateien vun Metalink daalladen
Comment[pt]=Permite transferir os ficheiros a partir do Metalink
Comment[pt_BR]=Permite baixar arquivos do Metalink
Comment[sv]=Gör det möjligt att ladda ner filer från Metalink
Comment[uk]=Надає змогу звантажувати файли з Metalink
Comment[zh_TW]=允許從 Metalink 下載檔案

# options for library loader
X-KDE-Library=kget_metalinkfactory
X-KDE-KGet-plugintype=TransferFactory
X-KDE-KGet-rank=90
X-KDE-KGet-framework-version=1

X-KDE-PluginInfo-Author=Manolo Valdes
X-KDE-PluginInfo-Email=nolis71cu@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=kget_metalink_plugin

