[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kget_metalinkfactory
X-KDE-ParentComponents=kget_metalink_plugin

Name=Metalink
Name[ar]=ميتالينك
Name[ast]=Metalink
Name[bg]=Metalink
Name[bs]=Metalink
Name[ca]=«Metalink»
Name[ca@valencia]=«Metalink»
Name[cs]=Metalink
Name[da]=Metalink
Name[de]=Metalink
Name[el]=Metalink
Name[en_GB]=Metalink
Name[eo]=Metalink
Name[es]=Metalink
Name[et]=Metalink
Name[eu]=Metalink
Name[fi]=Meta-linkki
Name[fr]=Metalink
Name[ga]=Metalink
Name[gl]=Metalink
Name[hne]=मेटालिंक
Name[hr]=Meta-poveznica
Name[hu]=Metalink
Name[ia]=Metalink
Name[it]=Metalink
Name[ja]=メタリンク
Name[kk]=Metalink
Name[km]=តំណ​មេតា
Name[ko]=메타링크
Name[lt]=Metalink
Name[lv]=Metalink
Name[ml]=സവിശേഷകണ്ണി
Name[nb]=Metalink
Name[nds]=Metalink
Name[nl]=Metalink
Name[nn]=MetaLink
Name[pa]=ਮੇਟਾਲਿੰਕ
Name[pl]=Metalink
Name[pt]=Metalink
Name[pt_BR]=Metalink
Name[ro]=Metalink
Name[ru]=Metalink
Name[si]=මෙටා සබැඳියක්
Name[sk]=Metalink
Name[sl]=Metalink
Name[sr]=Металинк
Name[sr@ijekavian]=Металинк
Name[sr@ijekavianlatin]=MetaLink
Name[sr@latin]=MetaLink
Name[sv]=Metalink
Name[tr]=Metalink
Name[uk]=Metalink
Name[x-test]=xxMetalinkxx
Name[zh_CN]=元链接
Name[zh_TW]=Metalink
