[Desktop Entry]
Encoding=UTF-8
# service definition
Type=Service
ServiceTypes=KGet/Plugin

# standard fields
Name=MetaLink TransferFactory
Name[sv]=Metalink-överföringsgenerering
Name[x-test]=xxMetaLink TransferFactoryxx
Name[zh_TW]=MetaLink 傳輸工廠
Comment=Transfer plugin for KGet
Comment[sv]=Överföringsinsticksprogram för Kget
Comment[x-test]=xxTransfer plugin for KGetxx
Comment[zh_TW]=KGet 傳輸外掛程式

# options for library loader
X-KDE-Library=libkget_metalinkfactory
X-KDE-KGet-plugintype=TransferFactory
X-KDE-KGet-rank=90
X-KDE-KGet-framework-version=1
