[Desktop Entry]
Encoding=UTF-8
Name=KGet piechart applet
Name[el]=Μικροεφαρμογή γραφήματος πίτας KGet
Name[et]=KGeti sektordiagrammi aplett
Name[gl]=Applet de diagrama de sectores de KGet
Name[km]=អាប់ភ្លេត​គំនូស​តាង​ចំណិត​របស់ KGet
Name[nds]=KGet-Kokengrafik-Lüttprogramm
Name[pt]='Applet' de gráfico circular do KGet
Name[pt_BR]=Applet de gráfico circular do KGet
Name[sv]=Cirkeldiagram-miniprogram för Kget
Name[tr]=KGet pasta grafiği programcığı
Name[uk]=Аплет кругової діаграми KGet
Name[zh_TW]=KGet 圓餅圖小程式
Comment=KGet piechart applet
Comment[el]=Μικροεφαρμογή γραφήματος πίτας KGet
Comment[et]=KGeti sektordiagrammi aplett
Comment[gl]=Applet de diagrama de sectores de KGet
Comment[km]=អាប់ភ្លេត​គំនូស​តាង​ចំណិត​របស់ KGet
Comment[nds]=Kokengrafik-Lüttprogramm för KGet
Comment[pt]='Applet' de gráfico circular do KGet
Comment[pt_BR]=Applet de gráfico circular do KGet
Comment[sv]=Cirkeldiagram-miniprogram för Kget
Comment[tr]=KGet pasta grafiği programcığı
Comment[uk]=Аплек кругової діаграми KGet
Comment[zh_TW]=KGet 圓餅圖小程式
Icon=kget
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_kget_piechart

X-KDE-PluginInfo-Author=Javier Goday
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=kgetpiechart
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Misc
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

