[Desktop Entry]
Encoding=UTF-8
Name=KGet Piechart Applet
Name[ast]=Miniaplicación gráfica circular
Name[bs]=Torta grafikon KGeta
Name[ca]=Miniaplicació de diagrama de sectors del KGet
Name[ca@valencia]=Miniaplicació de diagrama de sectors del KGet
Name[cs]=Applet pro koláčový graf v KGet
Name[da]=KGet cirkeldiagram-applet
Name[de]=KGet Tortengrafik-Modul
Name[el]=Μικροεφαρμογή γραφήματος πίτας KGet
Name[en_GB]=KGet Piechart Applet
Name[es]=Miniaplicación de gráficas circulares
Name[et]=KGeti sektordiagrammi aplett
Name[eu]=KGet-eko tarta-diagramaren miniaplikazioa
Name[fi]=KGetin piirakkakaaviosovelma
Name[fr]=Applet de diagramme circulaire pour KGet
Name[ga]=Feidhmchláirín píchairte KGet
Name[gl]=Applet de diagrama de sectores de KGet 
Name[hr]=Applet za tortni dijagram za KGet
Name[hu]=KGet kördiagram
Name[ia]=Applet Piechart de KGet (carta a torta)
Name[it]=Grafici a torta per KGet
Name[ja]=KGet 円グラフアプレット
Name[kk]=KGet үлес диаграмма апплеті
Name[km]=អាប់ភ្លេត​គំនូស​តាង​ចំណិច​របស់ KGet
Name[ko]=KGet 원 그래프 애플릿
Name[lt]=KGet skritulinės diagramos programėlė
Name[lv]=KGet rinķa grafika sīkrīks
Name[nb]=Miniprogram for KGet-kakediagram
Name[nds]=KGet-Kokengrafik-Lüttprogramm
Name[nl]=Taartpuntapplet voor KGet
Name[nn]=KGet-kakediagram
Name[pa]=ਕੇ-ਗਿੱਟ ਪਾਈਚਾਰਟ ਐਪਲਿਟ
Name[pl]=Wykres kołowy w KGet
Name[pt]='Applet' de Gráfico Circular do KGet
Name[pt_BR]=Miniaplicativo de gráfico de setores do KGet
Name[ro]=Miniaplicație KGet DiagramăDisc
Name[ru]=KGet: круговая диаграмма
Name[si]=KGet වෘතප්‍රස්ථාර යෙදුම
Name[sk]=Koláčový graf pre KGet
Name[sl]=KGet (tortni graf)
Name[sr]=питасти графикон К‑гета
Name[sr@ijekavian]=питасти графикон К‑гета
Name[sr@ijekavianlatin]=pitasti grafikon KGeta
Name[sr@latin]=pitasti grafikon KGeta
Name[sv]=Cirkeldiagram-miniprogram för Kget
Name[tr]=KGet Pasta Grafiği Programcığı
Name[uk]=Аплет кругової діаграми KGet
Name[x-test]=xxKGet Piechart Appletxx
Name[zh_CN]=KGet 饼状图小程序
Name[zh_TW]=KGet 圓餅圖小程式
Comment=KGet piechart applet
Comment[ar]=بريمج KGet piechart
Comment[ast]=Miniaplicación gráfica circular
Comment[bs]=Aplet torta grafikona za KGet
Comment[ca]=Miniaplicació de diagrama de sectors del KGet
Comment[ca@valencia]=Miniaplicació de diagrama de sectors del KGet
Comment[cs]=Applet pro koláčový graf v KGet
Comment[da]=KGet cirkeldiagram-applet
Comment[de]=KGet Tortengrafik-Modul
Comment[el]=Μικροεφαρμογή γραφήματος πίτας KGet
Comment[en_GB]=KGet piechart applet
Comment[es]=Miniaplicación de gráfica circular
Comment[et]=KGeti sektordiagrammi aplett
Comment[eu]=KGet-eko tarta-diagramaren miniaplikazioa
Comment[fi]=KGetin piirakkakaaviosovelma
Comment[fr]=Applet de diagramme circulaire pour KGet
Comment[ga]=Feidhmchláirín píchairte KGet
Comment[gl]=Applet de diagrama de sectores de KGet
Comment[hne]=केगेट पाईचार्ट ऐप्लेट
Comment[hr]=Applet za tortni dijagram za KGet
Comment[hu]=KGet kördiagram
Comment[ia]=Applet Piechart de KGet (carta a torta)
Comment[it]=Grafici a torta per KGet
Comment[ja]=KGet 円グラフアプレット
Comment[kk]=KGet үлес диаграммасының апплеті
Comment[km]=អាប់ភ្លេត​គំនូស​តាង​ចំណិត​របស់ KGet
Comment[ko]=KGet 원 그래프 애플릿
Comment[lt]=KGet skritulinės diagramos programėlė
Comment[lv]=KGet rinķa grafika sīkrīks
Comment[ml]=കെഗെറ്റ് പൈചാര്‍ട്ട് എന്ന ലഘുപ്രയോഗം
Comment[nb]=Miniprogram for KGet-kakediagram
Comment[nds]=Kokengrafik-Lüttprogramm för KGet
Comment[nl]=Taartpuntgrafiek voor KGet
Comment[nn]=KGet-kakediagram
Comment[pa]=ਕੇ-ਗਿੱਟ ਪਾਈਚਾਰਟ ਐਪਲਿਟ
Comment[pl]=Aplet pokazujący wykres kołowy w KGet
Comment[pt]='Applet' de gráfico circular do KGet
Comment[pt_BR]=Miniaplicativo de gráfico de setores do KGet
Comment[ro]=Miniaplicație KGet DiagramăDisc
Comment[ru]=Показывает ход выполнения загрузок в KGet в виде круговой диаграммы
Comment[si]=KGet වෘතප්‍රස්ථාර යෙදුම
Comment[sk]=Koláčový graf pre KGet
Comment[sl]=Tortni graf prenosov v KGet
Comment[sr]=Аплет питастог графикона за К‑гет
Comment[sr@ijekavian]=Аплет питастог графикона за К‑гет
Comment[sr@ijekavianlatin]=Aplet pitastog grafikona za KGet
Comment[sr@latin]=Aplet pitastog grafikona za KGet
Comment[sv]=Cirkeldiagram-miniprogram för Kget
Comment[tr]=KGet pasta grafiği programcığı
Comment[uk]=Аплет кругової діаграми KGet
Comment[x-test]=xxKGet piechart appletxx
Comment[zh_CN]=KGet 饼图小程序
Comment[zh_TW]=KGet 圓餅圖小程式
Icon=kget
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_kget_piechart

X-KDE-PluginInfo-Author=Javier Goday
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=kgetpiechart
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

