[Desktop Entry]
Encoding=UTF-8
Name=KGet Panelbar Applet
Name[ast]=Miniaplicación barres de panel de KGet
Name[bs]=panelska traka KGeta
Name[ca]=Miniaplicació del KGet per la barra del plafó
Name[ca@valencia]=Miniaplicació del KGet per la barra del plafó
Name[cs]=Graf do panelu pro KGet
Name[da]=KGet panel-applet
Name[de]=KGet Kontrollleisten-Modul
Name[el]=Μικροεφαρμογή γραμμής πίνακα KGet
Name[en_GB]=KGet Panelbar Applet
Name[es]=Miniaplicación de barra de panel de KGet
Name[et]=KGeti paneeliriba aplett
Name[eu]=KGet-eko panel-barraren miniaplikazioa
Name[fi]=KGetin paneelisovelma
Name[fr]=Applet de barre latérale pour KGet
Name[ga]=Feidhmchláirín barra painéil KGet
Name[gl]=Applet de panel de KGet
Name[hr]=Applet za panelnu traku za KGet
Name[hu]=KGet panelsáv
Name[ia]=Applet Panelchart de KGet (carta a pannello)
Name[it]=Barra del pannello per KGet
Name[ja]=KGet パネルバーアプレット
Name[kk]=KGet бағанды диаграмма апплеті
Name[km]=អាប់ភ្លេត​របារ​បន្ទះ​របស់ KGet
Name[ko]=KGet 패널 막대 애플릿
Name[lt]=KGet Panelbar programėlė
Name[lv]=KGet paneļa sīkrīks
Name[nb]=Miniprogram for KGet-panelstolpe
Name[nds]=KGet-Paneelbalken-Lüttprogramm
Name[nl]=Paneelbalkapplet voor KGet
Name[nn]=KGet-panellinje
Name[pa]=ਕੇ-ਗਿੱਟ ਪੈਨਲਬਾਰ ਐਪਲਿਟ
Name[pl]=Wykres w panelu KGet
Name[pt]='Applet' de Barra de Painéis do KGet
Name[pt_BR]=Miniaplicativo de barra de painel do KGet
Name[ro]=Miniaplicație KGet BarăPanou
Name[si]=KGet පැනලතීරු යෙදුම
Name[sk]=Graf do panela pre KGet
Name[sl]=KGet (za pult)
Name[sr]=панелска трака К‑гета
Name[sr@ijekavian]=панелска трака К‑гета
Name[sr@ijekavianlatin]=panelska traka KGeta
Name[sr@latin]=panelska traka KGeta
Name[sv]=Panelrad-miniprogram för Kget
Name[tr]=KGet Panel Programcığı
Name[uk]=Аплет стовпчикової діаграми KGet
Name[x-test]=xxKGet Panelbar Appletxx
Name[zh_CN]=KGet 面板栏小程序
Name[zh_TW]=KGet 面板列小程式
Comment=KGet panelbar applet
Comment[ar]=بريمج عمود التحكم KGet
Comment[ast]=Miniaplicación barres de panel de KGet
Comment[bs]=Aplet panelske trake za KGet
Comment[ca]=Miniaplicació del KGet per la barra del plafó
Comment[ca@valencia]=Miniaplicació del KGet per la barra del plafó
Comment[cs]=Graf do panelu pro KGet
Comment[da]=KGet panel-applet
Comment[de]=KGet Kontrollleisten-Modul
Comment[el]=Μικροεφαρμογή γραμμής πίνακα KGet
Comment[en_GB]=KGet panelbar applet
Comment[es]=Miniaplicación de barra de panel de KGet
Comment[et]=KGeti paneeliriba aplett
Comment[eu]=KGet-eko panel-barraren miniaplikazioa
Comment[fi]=KGetin paneelisovelma
Comment[fr]=Applet de barre latérale pour KGet
Comment[ga]=Feidhmchláirín barra painéil KGet
Comment[gl]=Applet de panel de KGet
Comment[hne]=केगेट पेनलबार ऐप्लेट
Comment[hr]=Applet za panelnu traku za KGet
Comment[hu]=KGet panelsáv
Comment[ia]=Applet Panelchart de KGet (carta a pannello)
Comment[it]=Barra del pannello per KGet
Comment[ja]=KGet パネルバーアプレット
Comment[kk]=KGet бағанды диаграммасының апплеті
Comment[km]=អាប់ភ្លេត​របារ​បន្ទះ​របស់ KGet
Comment[ko]=KGet 패널 막대 애플릿
Comment[lt]=KGet panelbar programėlė
Comment[lv]=KGet paneļa sīkrīks
Comment[ml]=കെഗെറ്റ് പാനല്‍ബാര്‍ എന്ന ലഘുപ്രയോഗം
Comment[nb]=Miniprogram for KGet-panelstolpe
Comment[nds]=Paneelbalken-Lüttprogramm för KGet
Comment[nl]=Paneelbalkapplet voor KGet
Comment[nn]=KGet-panellinje
Comment[pa]=ਕੇਗਿੱਟ ਪੈਨਲਬਾਰ ਐਪਲਿਟ
Comment[pl]=Aplet KGet pokazujący pasek panelu
Comment[pt]='Applet' de barra de painéis do KGet
Comment[pt_BR]=Miniaplicativo de barra de painel do KGet
Comment[ro]=Miniaplicație KGet BarăPanou
Comment[si]=KGet පැනලතීරු යෙදුම
Comment[sk]=Graf do panela pre KGet
Comment[sl]=Graf prenosov KGet za pult
Comment[sr]=Аплет панелске траке за К‑гет
Comment[sr@ijekavian]=Аплет панелске траке за К‑гет
Comment[sr@ijekavianlatin]=Aplet panelske trake za KGet
Comment[sr@latin]=Aplet panelske trake za KGet
Comment[sv]=Panelrad-miniprogram för Kget
Comment[tr]=KGet panel programcığı
Comment[uk]=Аплет стовпчикової діаграми KGet
Comment[x-test]=xxKGet panelbar appletxx
Comment[zh_CN]=KGet 面板栏小程序
Comment[zh_TW]=KGet 面板列小程式
Icon=kget
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_kget_panelbar

X-KDE-PluginInfo-Author=Javier Goday
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=kgetpanelbar
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

