[Desktop Entry]
Encoding=UTF-8
Name=KGet panelbar applet
Name[el]=Μικροεφαρμογή γραμμής πίνακα KGet
Name[et]=KGeti paneeliriba aplett
Name[gl]=Applet de painel de KGet
Name[km]=អាប់ភ្លេត​របារ​បន្ទះ​របស់ KGet
Name[nds]=KGet-Paneelbalken-Lüttprogramm
Name[pt]='Applet' de barra de painéis do KGet
Name[pt_BR]=Applet de barra de painel do KGet
Name[sl]=KGet (za pult)
Name[sv]=Panelrad-miniprogram för Kget
Name[tr]=KGet panel programcığı
Name[uk]=Аплет стовпчикової діаграми KGet
Name[zh_TW]=KGet 面板列小程式
Comment=KGet panelbar applet
Comment[el]=Μικροεφαρμογή γραμμής πίνακα KGet
Comment[et]=KGeti paneeliriba aplett
Comment[gl]=Applet de painel de KGet
Comment[km]=អាប់ភ្លេត​របារ​បន្ទះ​របស់ KGet
Comment[nds]=Paneelbalken-Lüttprogramm för KGet
Comment[pt]='Applet' de barra de painéis do KGet
Comment[pt_BR]=Applet de barra de painel do KGet
Comment[sl]=Graf prenosov KGet za pult
Comment[sv]=Panelrad-miniprogram för Kget
Comment[tr]=KGet panel programcığı
Comment[uk]=Аплет стовпчикової діаграми KGet
Comment[zh_TW]=KGet 面板列小程式
Icon=kget
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_kget_panelbar

X-KDE-PluginInfo-Author=Javier Goday
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=kgetpanelbar
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Misc
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

