<!DOCTYPE kpartgui>
<kpartgui library="khtml_kget" name="khtml_kget" version="0.1" >
                  <MenuBar>
                  <Menu name="tools">
                             <Text>&amp;Tools</Text>
<Action name="launch_kget"/>
             </Menu>
             </MenuBar>
             <ToolBar name="mainToolBar">
             <Action name="show_drop"/>
             </ToolBar>
</kpartgui>

