[Desktop Entry]
X-KDE-Library=khtml_kget
X-KDE-PluginInfo-Author=Patrick Charbonnier, Carsten Pfeiffer
X-KDE-PluginInfo-Email=pch@valleeurope.net, pfeiffer@kde.org
X-KDE-PluginInfo-Name=kget
X-KDE-PluginInfo-Version=3.4
X-KDE-PluginInfo-Website=http://kget.sourceforge.net
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=KGet
Name[ar]=ك.جيت
Name[bn]=কে-গেট
Name[cy]=KNôl
Name[eo]=Prenilo
Name[hi]=के-गेट
Name[ne]=केडीई गेट
Name[sv]=Kget
Name[ta]=கேகெட்
Name[th]=ดาวน์โหลด K
Name[ven]=Wana ha K
Comment=Download Manager
Comment[be]=Праграма сцягвання файлаў
Comment[bg]=Изтегляне на файлове
Comment[bn]=ডাউনলোড ম্যানেজার
Comment[br]=Merour enkargañ
Comment[bs]=Upravitelj downloadom
Comment[ca]=Gestor de descàrregues
Comment[cs]=Správce stahování
Comment[cy]=Trefnydd Lawrlwytho
Comment[da]=Håndtering af download
Comment[de]=Herunterladen von Dateien
Comment[el]=Διαχειριστής λήψεων αρχείων
Comment[eo]=Elŝut-administrilo
Comment[es]=Gestor de descargas
Comment[et]=Allalaadimiste haldur
Comment[eu]=Deskarga kudeatzailea
Comment[fa]=مدیر بارگیری
Comment[fi]=Tiedostonlataaja
Comment[fr]=Gestionnaire de téléchargements
Comment[ga]=Bainisteoir Íosluchtaithe
Comment[gl]=Xestor de Descargas
Comment[he]=מנהל הורדות
Comment[hu]=Letöltéskezelő
Comment[is]=Niðurhalsstjóri
Comment[it]=Gestore degli scaricamenti
Comment[ja]=ダウンロードマネージャ
Comment[ka]=ჩამოქაჩვათა მმართველი
Comment[kk]=Жүктеп алу менеджері
Comment[km]=កម្មវិធី​គ្រប់គ្រង​ការ​ទាញ​យក
Comment[lt]=Siuntimų valdymas
Comment[nb]=Nedlastingsbehandler
Comment[nds]=Daallaadpleger
Comment[ne]=डाउनलोड प्रबन्धक
Comment[nl]=Downloadmanager
Comment[nn]=Nedlastingshandsamar
Comment[pa]=ਡਾਊਨਲੋਡ ਮੈਨੇਜਰ
Comment[pl]=Menedżer pobierania
Comment[pt]=Gestor de Transferências
Comment[pt_BR]=Gerenciador de Download
Comment[ro]=Manager de transferuri FTP
Comment[ru]=Диспетчер загрузок
Comment[sk]=Správca sťahovania
Comment[sl]=Upravitelj prenosov
Comment[sr]=Менаџер преузимања
Comment[sr@Latn]=Menadžer preuzimanja
Comment[sv]=Nerladdningshanterare
Comment[tr]=İndirme Yöneticisi
Comment[uk]=Менеджер звантажень
Comment[uz]=Yozib olish boshqaruvchisi
Comment[uz@cyrillic]=Ёзиб олиш бошқарувчиси
Comment[zh_CN]=下载管理器
Comment[zh_HK]=下載管理員
Comment[zh_TW]=下載管理員
Icon=khtml_kget

