[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=khtml_kget
X-KDE-PluginInfo-Author=Patrick Charbonnier, Carsten Pfeiffer
X-KDE-PluginInfo-Email=pch@valleeurope.net, pfeiffer@kde.org
X-KDE-PluginInfo-Name=kget
X-KDE-PluginInfo-Version=3.4
X-KDE-PluginInfo-Website=http://kget.sourceforge.net
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=KGet
Name[ar]=ك.جيت
Name[cy]=KNôl
Name[eo]=Prenilo
Name[hi]=के-गेट
Name[sv]=Kget
Name[ta]=கேகெட்
Name[th]=ดาวน์โหลด K
Name[ven]=Wana ha K
Comment=Download Manager
Comment[bg]=Изтегляне на файлове
Comment[br]=Merour enkargañ
Comment[ca]=Gestor de descàrregues
Comment[cs]=Správce stahování
Comment[cy]=Trefnydd Lawrlwytho
Comment[da]=Håndtering af nedtagninger
Comment[de]=Herunterladen von Dateien
Comment[el]=Διαχειριστής λήψεων
Comment[es]=Gestor de descargas
Comment[et]=Allalaadimiste haldur
Comment[eu]=Deskarga kudeatzailea
Comment[fi]=Tiedostonlataaja
Comment[fr]=Gestionnaire de téléchargements
Comment[ga]=Bainisteoir Íosluchtaithe
Comment[he]=מנהל הורדות
Comment[hu]=Letöltéskezelő
Comment[is]=Niðurhalsstjóri
Comment[it]=Gestore dei download
Comment[ja]=ダウンロードマネージャ
Comment[lt]=Siuntimų valdymas
Comment[nb]=Nedlastingsbehandler
Comment[nl]=Downloadmanager
Comment[pl]=Menedżer pobierania
Comment[pt]=Gestor de Transferências
Comment[pt_BR]=Gerenciador de Download
Comment[ro]=Manager de transferuri FTP
Comment[ru]=Менеджер загрузок
Comment[sl]=Upravitelj prenosov
Comment[sr]=Менаџер преузимања
Comment[sr@Latn]=Menadžer preuzimanja
Comment[sv]=Nerladdningshanterare
Comment[uk]=Менеджер звантажень
Comment[zh_CN]=下载管理器
Icon=kget

