[Desktop Entry]
Encoding=UTF-8
Icon=kget
X-KDE-Library=kget_browser_integration
X-KDE-PluginInfo-Author=KGet Maintainers
X-KDE-PluginInfo-Email=kget@kde.org
X-KDE-PluginInfo-Name=kget_browser_integration
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Download Manager
Name[en_GB]=Download Manager
Name[nl]=Downloadbeheerder
Name[pt]=Gestor de Transferências
Name[pt_BR]=Gerenciador de downloads
Name[uk]=Керування звантаженнями
Name[x-test]=xxDownload Managerxx
Comment=A versatile and easy to use file download manager
Comment[en_GB]=A versatile and easy to use file download manager
Comment[nl]=Een veelzijdige en gemakkelijk te gebruiken downloadbeheerder
Comment[pt]=Um gestor de transferências de ficheiros simples e versátil de usar
Comment[pt_BR]=Um gerenciador de downloads de arquivos simples e fácil de usar
Comment[uk]=Гнучка і проста у користуванні програма для керування звантаженнями
Comment[x-test]=xxA versatile and easy to use file download managerxx
X-KDE-ParentApp=konqueror
