[Desktop Entry]
Encoding=UTF-8
Icon=kget
X-KDE-Library=kget_browser_integration
X-KDE-PluginInfo-Author=KGet Maintainers
X-KDE-PluginInfo-Email=kget@kde.org
X-KDE-PluginInfo-Name=kget_browser_integration
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Download Manager
Name[ca]=Gestor de baixades
Name[da]=Downloadhåndtering
Name[de]=Download-Verwaltung
Name[en_GB]=Download Manager
Name[es]=Gestor de descargas
Name[et]=Allalaadimiste haldur
Name[it]=Gestore degli scaricamenti
Name[kk]=Жүкеп алу менеджері
Name[km]=កម្មវិធី​គ្រប់គ្រង​ការ​ទាញយក
Name[ko]=다운로드 관리자
Name[nb]=Nedlastingsbehandler
Name[nds]=Daalladenpleger
Name[nl]=Downloadbeheerder
Name[pa]=ਡਾਊਨਲੋਡ ਮੈਨੇਜਰ
Name[pt]=Gestor de Transferências
Name[pt_BR]=Gerenciador de downloads
Name[sv]=Nerladdningshanterare
Name[uk]=Керування звантаженнями
Name[x-test]=xxDownload Managerxx
Name[zh_CN]=下载管理器
Name[zh_TW]=下載管理員
Comment=A versatile and easy to use file download manager
Comment[ca]=Un gestor de baixades de fitxers versàtil i fàcil d'utilitzar
Comment[da]=En alsidig og brugervenlig downloadhåndtering
Comment[de]=Ein vielseitiges und einfach zu benutzendes Download-Verwaltungsprogramm
Comment[en_GB]=A versatile and easy to use file download manager
Comment[es]=Una manera sencilla y versátil de usar el gestor de descarga de archivos
Comment[et]=Tubli ja lihtne failide allalaadimise haldur
Comment[it]=Un gestore di scaricamenti versatile e facile da usare
Comment[kk]=Әмбебап және ыңғайлы жүктеп алу менеджері
Comment[km]=អាច​ផ្លាស់ប្ដូរ និង​ងាយស្រួល​ប្រើ​កម្មវិធី​គ្រប់គ្រង​ការ​ទាញយក
Comment[ko]=다운로드 관리자
Comment[nl]=Een veelzijdige en gemakkelijk te gebruiken downloadbeheerder
Comment[pt]=Um gestor de transferências de ficheiros simples e versátil de usar
Comment[pt_BR]=Um gerenciador de downloads de arquivos simples e fácil de usar
Comment[sv]=En mångsidig och lättanvänd nerladdningshanterare av filer
Comment[uk]=Гнучка і проста у користуванні програма для керування звантаженнями
Comment[x-test]=xxA versatile and easy to use file download managerxx
Comment[zh_CN]=简单易用的多功能文件下载管理器
Comment[zh_TW]=一個多功能且容易使用的檔案下載管理員
X-KDE-ParentApp=konqueror
