[Desktop Entry]
# service definition
Type=Service
X-KDE-ServiceTypes=KGet/Plugin
Icon=kget

# standard fields
Name=Content Fetch
Comment=Content-Fetch-Transfer plugin for KGet
Comment[uk]=Втулка перенесення з обробкою вмісту для KGet

# options for library loader
X-KDE-Library=kget_contentfetchfactory
X-KDE-KGet-plugintype=TransferFactory
X-KDE-KGet-rank=110
X-KDE-KGet-framework-version=1

X-KDE-PluginInfo-Author=Ningyu Shi
X-KDE-PluginInfo-Email=shiningyu@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-PluginInfo-Name=kget_contentfetch_plugin
