[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kget_contentfetchfactory
X-KDE-ParentComponents=kget_contentfetch_plugin

Name=Content Fetcher
Name[et]=Sisutõmbaja
Name[gl]=Obtentor de contidos
Name[km]=កម្មវិធី​ទៅ​យក​មាតិកា
Name[nds]=Content-Fetch-Moduul
Name[pt]=Módulo de Obtenção de Conteúdos
Name[pt_BR]=Módulo de Obtenção de Conteúdos
Name[tr]=İçerik Getirici
Name[uk]=Засіб обробки вмісту
Name[zh_TW]=內容擷取器
