[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kget_contentfetchfactory
X-KDE-ParentComponents=kget_contentfetch_plugin

Name=Content Fetcher
Name[ar]=جالب المحتوى
Name[ast]=Content Fetcher
Name[bs]=Dobavljač sadržaja
Name[ca]=Recollidor de continguts
Name[ca@valencia]=Recollidor de continguts
Name[cs]=Stahovač obsahu
Name[da]=Content Fetcher
Name[de]=Daten-Lader
Name[el]=Ανάκτηση περιεχομένου
Name[en_GB]=Content Fetcher
Name[es]=Content Fetcher
Name[et]=Sisutõmbaja
Name[eu]=Edukiaren eskuratzailea
Name[fi]=Sisältänoutaja
Name[fr]=Téléchargement de contenu
Name[ga]=Content Fetcher
Name[gl]=Módulo de obteción de contidos
Name[hne]=सामग्री लावइया
Name[hr]=Content Fetcher
Name[hu]=Letöltő
Name[ia]=Reportator de contento
Name[it]=Scaricatore di contenuti
Name[ja]=コンテンツ取得
Name[kk]=Мазмұнын алғышы
Name[km]=កម្មវិធី​ទៅ​យក​មាតិកា
Name[ko]=내용 긁개
Name[lt]=Turinio atsiuntėjas
Name[lv]=Satura ielādētājs
Name[ml]=ഉള്ളടക്കം കൊണ്ടുവരുന്നവന്‍
Name[nb]=Innholdshenter
Name[nds]=Content-Fetch-Moduul
Name[nl]=Inhoudophaler
Name[nn]=Innhaldshenting
Name[pa]=ਸਮੱਗਰੀ ਲੈਣ ਵਾਲਾ
Name[pl]=Pobieranie treści
Name[pt]=Módulo de Obtenção de Conteúdos
Name[pt_BR]=Capturador de conteúdo
Name[ro]=Preluator de conținut
Name[ru]=Получение содержимое
Name[si]=අන්තර්ගත ලබාගැනීම
Name[sk]=Sťahovač obsahu
Name[sl]=Pridobivanje vsebine
Name[sr]=Добављач садржаја
Name[sr@ijekavian]=Добављач садржаја
Name[sr@ijekavianlatin]=Dobavljač sadržaja
Name[sr@latin]=Dobavljač sadržaja
Name[sv]=Hämta innehåll
Name[th]=ตัวรับเนื้อหา
Name[tr]=İçerik Getirici
Name[uk]=Засіб обробки вмісту
Name[x-test]=xxContent Fetcherxx
Name[zh_CN]=内容获取
Name[zh_TW]=內容擷取器
