[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kget_contentfetchfactory
X-KDE-ParentComponents=kget_contentfetch_plugin

Name=Content Fetcher
Name[ca]=Recollidor de continguts
Name[de]=Daten-Lader
Name[el]=Ανάκτηση περιεχομένου
Name[et]=Sisutõmbaja
Name[gl]=Obtentor de contidos
Name[ja]=コンテンツ取得
Name[km]=កម្មវិធី​ទៅ​យក​មាតិកា
Name[lv]=Satura ielādētājs
Name[nb]=Innholdshenter
Name[nds]=Content-Fetch-Moduul
Name[nn]=Innhaldshenting
Name[pt]=Módulo de Obtenção de Conteúdos
Name[pt_BR]=Capturador de conteúdo
Name[ro]=Preluator de conținut
Name[sv]=Hämta innehåll
Name[tr]=İçerik Getirici
Name[uk]=Засіб обробки вмісту
Name[x-test]=xxContent Fetcherxx
Name[zh_CN]=内容获取
Name[zh_TW]=內容擷取器
