[Desktop Entry]
# service definition
Type=Service
X-KDE-ServiceTypes=KGet/Plugin
Icon=kget

# standard fields
Name=Content Fetch
Name[el]=Ανάκτηση περιεχομένου
Name[et]=Sisutõmbaja
Name[gl]=Obter contidos
Name[km]=កា​រទៅ​យក​មាតិកា
Name[nds]=Content-Fetch
Name[pt]=Obtenção de Conteúdo
Name[pt_BR]=Captura de conteúdo
Name[sv]=Hämta innehåll
Name[tr]=İçerik Getir
Name[uk]=Отримання вмісту
Name[x-test]=xxContent Fetchxx
Name[zh_CN]=内容获取
Name[zh_TW]=內容擷取
Comment=Content-Fetch-Transfer plugin for KGet
Comment[el]=Πρόσθετο μεταφοράς-ανάκτησης περιεχομένου για το KGet
Comment[et]=KGeti sisutõmbaja ülekandeplugin
Comment[ga]=Breiseán aistrithe Content Fetch le haghaidh KGet
Comment[gl]=Extensión de obtención de contidos para KGet
Comment[km]=កម្មវិធី​ជំនួយ​ការ​ផ្ទេរ​ការ​ទៅ​យក​មាតិកា​សម្រាប់ KGet
Comment[nb]=KGet programtillegg for Content Fetch
Comment[nds]=Content-Fetch-Överdreegmoduul för KGet
Comment[pt]='Plugin' de transferências para obtenção de conteúdo para o KGet
Comment[pt_BR]=Plugin de transferência e captura de conteúdo para o KGet
Comment[sv]=Hämta innehåll-överföringsinsticksprogram för Kget
Comment[tr]=İçerik-Getir- KGet için aktarım eklentisi
Comment[uk]=Втулка перенесення з обробкою вмісту для KGet
Comment[x-test]=xxContent-Fetch-Transfer plugin for KGetxx
Comment[zh_CN]=内容获取-KGet 传输插件
Comment[zh_TW]=KGet 的內容擷取傳輸外掛程式

# options for library loader
X-KDE-Library=kget_contentfetchfactory
X-KDE-KGet-plugintype=TransferFactory
X-KDE-KGet-rank=110
X-KDE-KGet-framework-version=1

X-KDE-PluginInfo-Author=Ningyu Shi
X-KDE-PluginInfo-Email=shiningyu@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-PluginInfo-Name=kget_contentfetch_plugin
