[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kget_mmsfactory
X-KDE-ParentComponents=kget_mms_plugin

Name=MMS
Name[ar]=MMS
Name[ast]=MMS
Name[bg]=MMS
Name[bs]=MMS
Name[ca]=MMS
Name[ca@valencia]=MMS
Name[cs]=MMS
Name[da]=MMS
Name[de]=MMS
Name[el]=MMS
Name[en_GB]=MMS
Name[eo]=MMS
Name[es]=MMS
Name[et]=MMS
Name[eu]=MMS
Name[fi]=Multimediaviesti
Name[fr]=MMS
Name[ga]=MMS
Name[gl]=MMS
Name[hne]=एमएमएस
Name[hr]=MMS
Name[hu]=MMS
Name[ia]=MMS
Name[it]=MMS
Name[ja]=MMS
Name[kk]=MMS
Name[km]=MMS
Name[ko]=MMS
Name[lt]=MMS
Name[lv]=MMS
Name[mai]=MMS
Name[ml]=എംഎംഎസ്
Name[nb]=MMS
Name[nds]=MMS
Name[nl]=MMS
Name[nn]=MMS
Name[pa]=MMS
Name[pl]=MMS
Name[pt]=MMS
Name[pt_BR]=MMS
Name[ro]=MMS
Name[ru]=MMS
Name[si]=MMS
Name[sk]=MMS
Name[sl]=MMS
Name[sq]=MMS
Name[sr]=ММС
Name[sr@ijekavian]=ММС
Name[sr@ijekavianlatin]=MMS
Name[sr@latin]=MMS
Name[sv]=MMS
Name[tr]=MMS
Name[uk]=MMS
Name[wa]=MMS
Name[x-test]=xxMMSxx
Name[zh_CN]=MMS
Name[zh_TW]=MMS
