[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kget_mirrorsearchfactory
X-KDE-ParentComponents=kget_mirrorsearch_plugin

Name=MirrorSearch
Name[et]=Peegliotsing
Name[pt]=Pesquisa de Réplicas
Name[pt_BR]=Pesquisa de Réplicas
Name[sv]=Mirrorsearch
Name[tr]=Yansı Arama
Name[zh_TW]=映射搜尋
