[Desktop Entry]
# service definition
Type=Service
X-KDE-ServiceTypes=KGet/Plugin

# standard fields
Name=MirrorSearch TransferFactory
Name[de]=MirrorSearch-Übertragungsmodul
Name[fr]=TransferFactory MirrorSearch
Name[ga]=TransferFactory MirrorSearch
Name[lt]=MirrorSearch siuntimo sistema
Name[nds]=Spegelsöök-Överdreegmoduul
Name[pt]=Factory de Transferências do MirrorSearch
Name[pt_BR]=Procura por mirror  Gerador de transferência
Name[sv]=Mirrorsearch-överföringsgenerering
Name[tr]=Yansı Arama TransferFactory
Name[x-test]=xxMirrorSearch TransferFactoryxx
Name[zh_CN]=镜像搜索传输工厂
Name[zh_TW]=MirrorSearch 傳輸工廠

Comment=Transfer plugin for KGet
Comment[bg]=Приставка за трансфер - KGet
Comment[ca]=Connector de transferències pel KGet
Comment[cs]=Přenosový modul pro KGet
Comment[da]=Overførselsplugin til KGet
Comment[de]=Übertragungsmodul für KGet
Comment[el]=Πρόσθετο μεταφοράς για το KGet
Comment[eo]=Transmetada kromaĵo por KGet
Comment[es]=Complemento de transferencia para KGet
Comment[et]=KGeti ülekandeplugin
Comment[fi]=Siirtoliitännäinen KGet-ohjelmaa varten
Comment[fr]=Module de transfert pour KGet
Comment[ga]=Breiseán aistrithe le haghaidh KGet
Comment[gl]=Extensión de transferencias para KGet
Comment[hi]=केगेट के लिए ट्रांसफर प्लगइन
Comment[hu]=Letöltőmodul a KGethez
Comment[it]=Estensione di trasferimento per KGet
Comment[ja]=KGet の転送プラグイン
Comment[km]=កម្មវិធី​ជំនួយ​ការ​ផ្ទេរ​សម្រាប់ KGet
Comment[ko]=KGet 전송 플러그인
Comment[lt]=KGet siuntimo įskiepis
Comment[lv]=KGet pārsūtīšanas spraudnis
Comment[nb]=KGet programtillegg for overføringer
Comment[nds]=Överdreegmoduul för KGet
Comment[ne]=केडीई गेटका लागि प्लगइन स्थानान्तरण गर्नुहोस्
Comment[nl]=Overdrachtplugin voor KGet
Comment[pl]=Wtyczka transferów dla KGet
Comment[pt]='Plugin' de transferências para o KGet
Comment[pt_BR]=Plugin de transferências para o KGet
Comment[ru]=Модуль передачи для KGet
Comment[sl]=Vstavek za prenose za KGet
Comment[sv]=Överföringsinsticksprogram för Kget
Comment[tr]=KGet için aktarım eklentisi
Comment[uk]=Втулка перенесення для KGet
Comment[vi]=Phần bổ sung truyền cho KGet
Comment[x-test]=xxTransfer plugin for KGetxx
Comment[zh_CN]=KGet 传输插件
Comment[zh_TW]=KGet 傳輸外掛程式

# options for library loader
X-KDE-Library=kget_mirrorsearchfactory
X-KDE-KGet-plugintype=TransferFactory
X-KDE-KGet-rank=40
X-KDE-KGet-framework-version=1
