[Desktop Entry]
# service definition
Type=Service
X-KDE-ServiceTypes=KGet/Plugin
Icon=kget

# standard fields
Name=Mirror Search
Name[de]=MirrorSearch
Name[el]=Αναζήτηση Mirror
Name[et]=Peegliotsing
Name[gl]=Procura de Réplicas
Name[km]=ការ​ស្វែងរក​កញ្ចក់
Name[pt]=Pesquisa de Réplicas
Name[pt_BR]=Procura de espelhos
Name[ru]=Поиск зеркал
Name[sv]=Mirrorsearch
Name[tr]=Yansı Arama
Name[uk]=Пошук дзеркал
Name[x-test]=xxMirror Searchxx
Name[zh_CN]=镜像搜索
Name[zh_TW]=映射搜尋

Comment=Enable KGet to search the file through mirror search engines

# options for library loader
X-KDE-Library=kget_mirrorsearchfactory
X-KDE-KGet-plugintype=TransferFactory
X-KDE-KGet-rank=40
X-KDE-KGet-framework-version=1

X-KDE-PluginInfo-Author=Manolo Valdes
X-KDE-PluginInfo-Email=nolis71cu@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=kget_mirrorsearch_plugin
