[Desktop Entry]
# service definition
Type=Service
X-KDE-ServiceTypes=KGet/Plugin
Icon=kget

# standard fields
Name=Mirror Search
Name[uk]=Пошук дзеркал

Comment=Mirrorsearch-Transfer plugin for KGet
Comment[tr]=Yansı arama- KGet için aktarım eklentisi
Comment[uk]=Втулка перенесення Mirrorsearch для KGet

# options for library loader
X-KDE-Library=kget_mirrorsearchfactory
X-KDE-KGet-plugintype=TransferFactory
X-KDE-KGet-rank=40
X-KDE-KGet-framework-version=1

X-KDE-PluginInfo-Author=Manolo Valdes
X-KDE-PluginInfo-Email=nolis71cu@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=kget_mirrorsearch_plugin
