[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kget_mirrorsearchfactory
X-KDE-ParentComponents=kget_mirrorsearch_plugin

Name=MirrorSearch
Name[ar]=بحث المرآة
Name[ast]=GuetadorEspeyos
Name[bs]=MirrorSearch
Name[ca]=Cerca de rèplica
Name[ca@valencia]=Cerca de rèplica
Name[cs]=MirrorSearch
Name[da]=MirrorSearch
Name[de]=Spiegel-Suche
Name[el]=MirrorSearch
Name[en_GB]=MirrorSearch
Name[es]=MirrorSearch
Name[et]=Peegliotsing
Name[eu]=Ispiluko bilaketa
Name[fi]=Peilihaku
Name[fr]=MirrorSearch
Name[ga]=MirrorSearch
Name[gl]=MirrorSearch
Name[hne]=मिररखोज
Name[hr]=MirrorSearch
Name[hu]=MirrorSearch
Name[ia]=MirrorSearch (Cerca de Sito speculo
Name[it]=MirrorSearch
Name[ja]=ミラー検索
Name[kk]=MirrorSearch
Name[km]=MirrorSearch
Name[ko]=미러 검색
Name[lt]=MirrorSearch
Name[lv]=SpoguļuMeklēšana
Name[ml]=കണ്ണാടിസ്ഥാനപരതല്‍
Name[nb]=MirrorSearch
Name[nds]=MirrorSearch
Name[nl]=MirrorSearch
Name[nn]=MirrorSearch
Name[pa]=ਮਿੱਰਰ ਖੋਜ
Name[pl]=MirrorSearch
Name[pt]=Pesquisa de Réplicas
Name[pt_BR]=Pesquisa de sites espelho
Name[ro]=MirrorSearch
Name[ru]=Поиск зеркал
Name[si]=කැඩපත් සෙවුම
Name[sk]=MirrorSearch
Name[sl]=Iskanje zrcalnih strežnikov
Name[sr]=Претрага огледала
Name[sr@ijekavian]=Претрага огледала
Name[sr@ijekavianlatin]=Pretraga ogledala
Name[sr@latin]=Pretraga ogledala
Name[sv]=Spegelsökning
Name[tr]=Yansı Arama
Name[uk]=MirrorSearch
Name[wa]=MirrorSearch
Name[x-test]=xxMirrorSearchxx
Name[zh_CN]=镜像搜索
Name[zh_TW]=映射搜尋
