[Desktop Entry]
# service definition
Type=Service
X-KDE-ServiceTypes=KGet/Plugin
Icon=kget

# standard fields
Name=Multi Segment KIO
Name[ar]=متعدد اجزاء KIO
Name[ca]=Multisegment KIO
Name[da]=Multi Segment-KIO
Name[de]=KIO-Übertragungsmodul für Mehrfachsegmente
Name[el]=ΚΙΟ πολλαπλών τμημάτων
Name[et]=Mitmesegmendiline KIO
Name[fr]=KIO multi-segment
Name[gl]=KIO multisegmento
Name[ja]=マルチセグメントの KIO
Name[km]=ផ្នែក​ច្រើន​របស់ KIO
Name[ko]=다중 세그먼트 KIO
Name[lv]=Multisegmentu KIO
Name[ml]=ബഹു ഖണ്ഡ കിയോ
Name[nb]=Multi-segment KIO
Name[nds]=Mehrsegment-KIO
Name[nl]=Multisegment-KIO
Name[nn]=Fleirsegmentert KIO
Name[pa]=ਮਲਟੀ ਸਿਗਮੈਂਟ KIO
Name[pt]=KIO Multi-Segmentos
Name[pt_BR]=KIO multi segmentado
Name[ro]=KIO Multi-segment 
Name[sl]=Več-delčni KIO
Name[sr]=Вишесегментни К‑У/И
Name[sr@latin]=Višesegmentni K‑U/I
Name[sv]=Flersegments-KIO
Name[tr]=Çok Parçalı KIO
Name[uk]=Багатосегментний KIO
Name[x-test]=xxMulti Segment KIOxx
Name[zh_CN]=多段式 KIO
Name[zh_TW]=多段式 KIO
Comment=Multithreaded file download plugin
Comment[ar]=ملحق تعدد تنزيل الملف
Comment[ca]=Connector de transferències multifil per al KGet
Comment[da]=Plugin til flertrådet fildownload
Comment[de]=Multithread-Übertragungsmodul für KGet
Comment[el]=Πολυνηματικό πρόσθετο λήψης αρχείων
Comment[es]=Complemento de descarga de archivo multicapa
Comment[et]=Mitmelõimelise failide allalaadimise plugin
Comment[fr]=Module multi-tâche de téléchargement de fichiers
Comment[gl]=Extensión multifío de transferencias de ficheiros
Comment[it]=Estensione di scaricamento file in blocchi
Comment[ja]=マルチスレッドのファイルダウンロード用プラグイン
Comment[km]=កម្មវិធី​ជំនួយ​ទាញយក​ឯកសារ​របស់ Multithreaded
Comment[ko]=다중 스레드 파일 다운로드 플러그인
Comment[lv]=Daudzpavedienu failu lejupielādes spraudnis
Comment[ml]=ഫയല്‍ ഇറക്കിവെക്കനുള്ള ബഹുപിരിയന്‍ സംയോജകം
Comment[nb]=Programtillegg for flertrådete filnedlastinger
Comment[nds]=Mehrsträngsch Datei-Daallaadmoduul
Comment[nl]=Multithreaded bestandsdownloadplugin
Comment[nn]=Programtillegg for fleirtråda nedlasting av filer
Comment[pt]='Plugin' de transferências de ficheiros multitarefa
Comment[pt_BR]=Plug-in de download de arquivos multitarefa
Comment[ro]=Modul de descărcare multi-fir
Comment[ru]=Модуль многопоточной загрузки файлов
Comment[sl]=Vstavek za večnitni prenos datoteke
Comment[sr]=Прикључак за вишенитно преузимање фајлова
Comment[sr@latin]=Priključak za višenitno preuzimanje fajlova
Comment[sv]=Flertrådat insticksprogram för filnerladdning
Comment[tr]=Çoklu işleyebilen indirme eklentisi
Comment[uk]=Втулка звантаження файлів у декілька потоків
Comment[x-test]=xxMultithreaded file download pluginxx
Comment[zh_CN]=多线程文件下载插件
Comment[zh_TW]=多緒檔案下載外掛程式

# options for library loader
X-KDE-Library=kget_multisegkiofactory
X-KDE-KGet-plugintype=TransferFactory
X-KDE-KGet-rank=70
X-KDE-KGet-framework-version=1

X-KDE-PluginInfo-Author=Manolo Valdes
X-KDE-PluginInfo-Email=nolis71cu@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=kget_multisegkio_plugin
