[Desktop Entry]
# service definition
Type=Service
X-KDE-ServiceTypes=KGet/Plugin
Icon=kget

# standard fields
Name=Multi Segment KIO
Name[ca]=Multisegment KIO
Name[de]=KIO-Übertragungsmodul für Mehrfachsegmente
Name[el]=ΚΙΟ πολλαπλών τμημάτων
Name[et]=Mitmesegmendiline KIO
Name[gl]=KIO multisegmento
Name[km]=ផ្នែក​ច្រើន​របស់ KIO
Name[nb]=Multi-segment KIO
Name[nds]=Mehrsegment-KIO
Name[pt]=KIO Multi-Segmentos
Name[pt_BR]=KIO multi segmentado
Name[sv]=Flersegments-KIO
Name[tr]=Çok Parçalı KIO
Name[uk]=Багатосегментний KIO
Name[x-test]=xxMulti Segment KIOxx
Name[zh_CN]=多段式 KIO
Name[zh_TW]=多段式 KIO
Comment=Multithreaded file download plugin
Comment[ca]=Connector de transferències multifil per al KGet
Comment[de]=Multithread-Übertragungsmodul für KGet
Comment[el]=Πολυνηματικό πρόσθετο λήψης αρχείων
Comment[gl]=Extensión multifío de transferencias de ficheiros
Comment[km]=កម្មវិធី​ជំនួយ​ទាញយក​ឯកសារ​របស់ Multithreaded
Comment[nb]=Programtillegg for flertrådete filnedlastinger
Comment[nds]=Mehrsträngsch Datei-Daallaadmoduul
Comment[pt]='Plugin' de transferências de ficheiros multitarefa
Comment[pt_BR]=Plug-in de download de arquivos multitarefa
Comment[sv]=Flertrådat insticksprogram för filnerladdning
Comment[tr]=Çoklu işleyebilen indirme eklentisi
Comment[uk]=Втулка звантаження файлів у декілька потоків
Comment[x-test]=xxMultithreaded file download pluginxx
Comment[zh_CN]=多线程文件下载插件
Comment[zh_TW]=多緒檔案下載外掛程式

# options for library loader
X-KDE-Library=kget_multisegkiofactory
X-KDE-KGet-plugintype=TransferFactory
X-KDE-KGet-rank=70
X-KDE-KGet-framework-version=1

X-KDE-PluginInfo-Author=Manolo Valdes
X-KDE-PluginInfo-Email=nolis71cu@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=kget_multisegkio_plugin
