[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kget_multisegkiofactory
X-KDE-ParentComponents=kget_multisegkio_plugin

Name=MultiSegmentKIO
Name[et]=Mitmesegmendiline KIO
Name[fr]=KIO multi-segment
Name[lv]=MultisegmentuKIO
Name[nds]=Mehrsegment-KIO-Moduul
Name[nn]=Fleirsegmentert KIO
Name[pt]=KIO Multi-Segmentos
Name[pt_BR]=KIOMultiSegmentado
Name[sl]=Več-delčni KIO
Name[sv]=Flersegments-KIO
Name[tr]=Çok Parçalı KIO
Name[x-test]=xxMultiSegmentKIOxx
Name[zh_CN]=多段式 KIO
Name[zh_TW]=多段式 KIO
