[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kget_multisegkiofactory
X-KDE-ParentComponents=kget_multisegkio_plugin

Name=MultiSegmentKIO
Name[ar]=متعدد أجزاء KIO
Name[et]=Mitmesegmendiline KIO
Name[fr]=KIO multi-segment
Name[hne]=मल्टी सेगमेंट केआईओ
Name[ko]=다중 세그먼트 KIO
Name[lv]=MultisegmentuKIO
Name[ml]=ബഹുഖണ്ഡകിയോ
Name[nds]=Mehrsegment-KIO-Moduul
Name[nn]=Fleirsegmentert KIO
Name[pt]=KIO Multi-Segmentos
Name[pt_BR]=KIOMultiSegmentado
Name[sl]=Več-delčni KIO
Name[sr]=вишесегментни К‑У/И
Name[sr@latin]=višesegmentni K‑U/I
Name[sv]=Flersegments-KIO
Name[tr]=Çok Parçalı KIO
Name[x-test]=xxMultiSegmentKIOxx
Name[zh_CN]=多段式 KIO
Name[zh_TW]=多段式 KIO
