[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kget_multisegkiofactory
X-KDE-ParentComponents=kget_multisegkio_plugin

Name=MultiSegmentKIO
Name[ar]=متعدد أجزاء KIO
Name[ca]=MultiSegmentKIO
Name[cs]=MultiSegmentKIO
Name[da]=MultiSegmentKIO
Name[de]=MultiSegmentKIO
Name[el]=MultiSegmentKIO
Name[en_GB]=MultiSegmentKIO
Name[es]=MultiSegmentKIO
Name[et]=Mitmesegmendiline KIO
Name[eu]=SegmentuAnitzekoKIO
Name[fr]=KIO multi-segment
Name[ga]=MultiSegmentKIO
Name[gl]=MultiSegmentKIO
Name[hne]=मल्टी सेगमेंट केआईओ
Name[hr]=MultiSegmentKIO
Name[hu]=Többszakaszos KIO letöltéskezelő
Name[it]=MultiSegmentKIO
Name[ja]=MultiSegmentKIO
Name[km]=MultiSegmentKIO
Name[ko]=다중 세그먼트 KIO
Name[lv]=MultisegmentuKIO
Name[ml]=ബഹുഖണ്ഡകിയോ
Name[nb]=MultiSegmentKIO
Name[nds]=Mehrsegment-KIO-Moduul
Name[nl]=MultiSegmentKIO
Name[nn]=Fleirsegmentert KIO
Name[pl]=WielosegmentoweKIO
Name[pt]=KIO Multi-Segmentos
Name[pt_BR]=KIOMultiSegmentado
Name[ro]=MultiSegmentKIO
Name[ru]=Многопоточная загрузка
Name[sk]=MultiSegmentKIO
Name[sl]=Več-delčni KIO
Name[sr]=вишесегментни К‑У/И
Name[sr@latin]=višesegmentni K‑U/I
Name[sv]=Flersegments-KIO
Name[tr]=Çok Parçalı KIO
Name[uk]=MultiSegmentKIO
Name[x-test]=xxMultiSegmentKIOxx
Name[zh_CN]=多段式 KIO
Name[zh_TW]=多段式 KIO
