[Desktop Entry]
# service definition
Type=Service
X-KDE-ServiceTypes=KGet/Plugin
Icon=kget

# standard fields
Name=MMS
Name[x-test]=xxMMSxx
Comment=MMS-Transfer plugin for KGet
Comment[ca]=Connector de transferències d'MMS per al KGet
Comment[cs]=MMS-Transfer modul pro KGet
Comment[de]=MMS-Übertragungsmodul für KGet
Comment[el]=Πρόσθετο μεταφοράς MMS για το KGet
Comment[es]=Complemento de transferencia de MMS para KGet
Comment[et]=KGeti MMS ülekandeplugin
Comment[ga]=Breiseán aistrithe MMS le haghaidh KGet
Comment[gl]=Extensión de transferencias MMS para KGet
Comment[ja]=KGet の MMS 転送プラグイン
Comment[km]=MMS-កម្មវិធី​ជំនួយ​ការ​ផ្ទេរ​សម្រាប់ KGet
Comment[lv]=MMS KGet pārsūtīšanas spraudnis
Comment[nb]=KGet programtillegg for MMS-overføringer
Comment[nds]=MMS-Överdreegmoduul för KGet
Comment[nn]=Programtillegg til KGet for MMS-overføring
Comment[pt]='Plugin' de transferência de MMS para o KGet
Comment[pt_BR]=Plug-in de transferências do MMS para o KGet
Comment[ro]=Modul de transfer MMS pentru KGet
Comment[ru]=Модуль MMS для KGet
Comment[sl]=Vstavek za prenose MMS za KGet
Comment[sv]=MMS-överföringsinsticksprogram för Kget
Comment[tr]=MMS- KGet için aktarım eklentisi
Comment[uk]=Втулка перенесення MMS для KGet
Comment[x-test]=xxMMS-Transfer plugin for KGetxx
Comment[zh_CN]=MMS-KGet 传输插件
Comment[zh_TW]=KGet 的 MMS 傳輸外掛程式

# options for library loader
X-KDE-Library=kget_mmsfactory
X-KDE-KGet-plugintype=TransferFactory
X-KDE-KGet-rank=80
X-KDE-KGet-framework-version=1

X-KDE-PluginInfo-Author=Lukas Appelhans
X-KDE-PluginInfo-Email=l.appelhans@gmx.de
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=kget_mms_plugin
