[Desktop Entry]
# service definition
Type=Service
X-KDE-ServiceTypes=KGet/Plugin

# standard fields
Name=MMS TransferFactory
Name[de]=MMS-Übertragungsmodul
Name[el]=Εργοστάσιο μεταφοράς MMS
Name[fr]=TransferFactory MMS
Name[ga]=TransferFactory MMS
Name[lt]=MMS siuntimo sistema
Name[nds]=MMS-Överdreegmoduul
Name[pt]=Factory de Transferências de MMS
Name[pt_BR]=Gerador de transferência MMS
Name[sv]=MMS-överföringsfabrik
Name[x-test]=xxMMS TransferFactoryxx
Name[zh_CN]=MMS 传输工厂
Name[zh_TW]=MMS 傳輸工廠

# options for library loader
X-KDE-Library=kget_mmsfactory
X-KDE-KGet-plugintype=TransferFactory
X-KDE-KGet-rank=80
X-KDE-KGet-framework-version=1
