[Desktop Entry]
# service definition
Type=Service
X-KDE-ServiceTypes=KGet/Plugin
Icon=kget

# standard fields
Name=KIO
Name[nds]=KIO-Moduul
Comment=KIO-Transfer plugin for KGet
Comment[el]=Πρόσθετο μεταφοράς KIO για το KGet
Comment[et]=KGeti KIO ülekandeplugin
Comment[ga]=Breiseán aistrithe KIO le haghaidh KGet
Comment[gl]=Extensión de KIO de transferencias para KGet
Comment[km]=KIO-កម្មវិធី​ជំនួយ​កា​រផ្ទេរ​សម្រាប់ KGet
Comment[nds]=KIO-Överdreegmoduul för KGet
Comment[pt]='Plugin' de transferências do KIO para o KGet
Comment[pt_BR]=Plugin de transferências do KIO para o KGet
Comment[sv]=KIO-överföringsinsticksprogram för Kget
Comment[tr]=KIO- KGet için aktarım eklentisi
Comment[uk]=Втулка перенесення KIO для KGet
Comment[zh_TW]=KGet 的 KIO 傳輸外掛程式

# options for library loader
X-KDE-Library=kget_kiofactory
X-KDE-KGet-plugintype=TransferFactory
X-KDE-KGet-rank=50
X-KDE-KGet-framework-version=1

X-KDE-PluginInfo-Author=Dario Massarin
X-KDE-PluginInfo-Email=nekkar@libero.it
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=kget_kio_plugin

