[Desktop Entry]
Encoding=UTF-8
# service definition
Type=Service
ServiceTypes=KGet/Plugin

# standard fields
Name=KIO TransferFactory
Name[sv]=I/O-slav överföringsgenerering
Name[x-test]=xxKIO TransferFactoryxx
Name[zh_TW]=KIO 傳輸工廠
Comment=Transfer plugin for KGet
Comment[sv]=Överföringsinsticksprogram för Kget
Comment[x-test]=xxTransfer plugin for KGetxx
Comment[zh_TW]=KGet 傳輸外掛程式

# options for library loader
X-KDE-Library=libkget_kiofactory
X-KDE-KGet-plugintype=TransferFactory
X-KDE-KGet-rank=50
X-KDE-KGet-framework-version=1
