[Desktop Entry]
# service definition
Type=Service
X-KDE-ServiceTypes=KGet/Plugin
Icon=kget

# standard fields
Name=KIO
Name[hne]=केआईओ
Name[ml]=കിയോ
Name[nds]=KIO-Moduul
Name[sr]=К‑У/И
Name[sr@latin]=K‑U/I
Name[x-test]=xxKIOxx
Comment=Classic file downloader plugin
Comment[ar]=ملحق تنزيل الملف الكلاسيكي
Comment[ca]=Endollable de descarregador clàssic de fitxers
Comment[da]=Plugin til klassisk fildownload
Comment[de]=Klassisches Datei-Übertragungs-Modul
Comment[el]=Κλασικό πρόσθετο λήψης αρχείων
Comment[es]=Complemento de descarga de archivos clásico
Comment[et]=Klassikaline failide allalaadimise plugin
Comment[fr]=Module de téléchargement classique de fichiers
Comment[gl]=Extensión de transferidor clásico
Comment[it]=Estensione del gestore classico di scaricamento file
Comment[ja]=従来のファイルダウンロード用プラグイン
Comment[km]=កម្មវិធី​ជំនួយ​របស់​កម្មវិធីទាញយក​ឯកសារ​បុរាណ
Comment[ko]=고전 파일 다운로더 플러그인
Comment[lt]=Klasikinis failų parsiuntimo įskiepis
Comment[lv]=Klasiskās failu lejupielādes sparudnis
Comment[ml]=നിത്യഹരിതമായ ഫയലുകള്‍ ഇറക്കിവെക്കാനുള്ള സംയോജകം
Comment[nb]=Klassisk programtillegg for filnedlasting
Comment[nds]=Klass'sch Dateidaallaad-Moduul
Comment[nl]=Klassieke plugin voor bestand downloaden
Comment[nn]=Klassisk programtillegg for filnedlasting
Comment[pa]=ਕਲਾਸਿਕ ਫਾਇਲ ਡਾਊਨਲੋਡਰ ਪਲੱਗਇਨ
Comment[pt]='Plugin' de transferência de ficheiros clássico
Comment[pt_BR]=Plug-in de download de arquivos clássico
Comment[ro]=Modul de descărcare clasică
Comment[sl]=Vstavek za klasično prenašanje datotek
Comment[sr]=Класични прикључак за преузимање фајлова
Comment[sr@latin]=Klasični priključak za preuzimanje fajlova
Comment[sv]=Klassiskt insticksprogram för filnerladdning
Comment[tr]=Klasik dosya indirme eklentisi
Comment[uk]=Втулка класичного звантаження файлів
Comment[x-test]=xxClassic file downloader pluginxx
Comment[zh_CN]=传统的文件下载插件
Comment[zh_TW]=傳統檔案下載外掛程式

# options for library loader
X-KDE-Library=kget_kiofactory
X-KDE-KGet-plugintype=TransferFactory
X-KDE-KGet-rank=50
X-KDE-KGet-framework-version=1

X-KDE-PluginInfo-Author=Dario Massarin
X-KDE-PluginInfo-Email=nekkar@libero.it
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=kget_kio_plugin

