[Desktop Entry]
# service definition
Type=Service
ServiceTypes=KPluginInfo
X-KDE-ServiceTypes=KGet/Plugin
Icon=application-x-bittorrent

# standard fields
Name=Bittorrent
Name[nds]=BitTorrent
Name[pt]=BitTorrent
Name[pt_BR]=Bit Torrent
Comment=Bittorrent-Transfer plugin for KGet
Comment[et]=KGeti Bittorrenti ülekandeplugin
Comment[ga]=Breiseán aistrithe Bittorrent le haghaidh KGet
Comment[gl]=Extensión de transferencias Bittorrent para KGet
Comment[km]=Bittorrent-កម្មវិធី​ជំនួយ​ការ​ផ្ទេរ​សម្រាប់ KGet
Comment[nds]=Bittorent-Överdreegmoduul för KGet
Comment[pt]='Plugin' de transferências de BitTorrent para o KGet
Comment[pt_BR]=Plugin de transferências do Bit Torrent para o KGet
Comment[sv]=Bittorrent-överföringsinsticksprogram för Kget
Comment[tr]=Bittorent- KGet için aktarım eklentisi
Comment[uk]=Втулка перенесення Bittorrent для KGet
Comment[zh_TW]=KGet 的 Bittorrent 傳輸外掛程式

# options for library loader
X-KDE-Library=kget_bittorrentfactory
X-KDE-KGet-plugintype=TransferFactory
X-KDE-KGet-rank=200
X-KDE-KGet-framework-version=1

X-KDE-PluginInfo-Author=Lukas Appelhans
X-KDE-PluginInfo-Email=l.appelhans@gmx.de
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=kget_bittorrent_plugin
