[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kget_bittorrentfactory
X-KDE-ParentComponents=kget_bittorrent_plugin

Name=Bittorrent
