[Desktop Entry]
# service definition
Type=Service
ServiceTypes=KPluginInfo
X-KDE-ServiceTypes=KGet/Plugin
Icon=application-x-bittorrent

# standard fields
Name=Bittorrent
Name[ar]=بيت تورنت
Name[ast]=Bittorrent
Name[bg]=Bittorrent
Name[bs]=Bittorent
Name[ca]=Bittorrent
Name[ca@valencia]=Bittorrent
Name[cs]=Bittorrent
Name[da]=Bittorrent
Name[de]=Bittorrent
Name[el]=Bittorrent
Name[en_GB]=Bittorrent
Name[es]=Bittorrent
Name[et]=Bittorrent
Name[eu]=Bittorrent
Name[fi]=Bittorrent 
Name[fr]=BitTorrent
Name[ga]=Bittorrent
Name[gl]=Bittorrent
Name[hne]=बिटटोरेंट
Name[hr]=Bittorrent
Name[hu]=Bittorrent
Name[ia]=Bittorrent
Name[it]=Bittorrent
Name[ja]=BitTorrent
Name[kk]=Bittorrent
Name[km]=Bittorrent
Name[ko]=비트토렌트
Name[lt]=Bittorrent
Name[lv]=Bittorrent
Name[ml]=ബിറ്റ്ടോറന്റ്
Name[nb]=Bittorrent
Name[nds]=BitTorrent
Name[nl]=Bittorent
Name[nn]=BitTorrent
Name[pa]=ਬਿੱਟ-ਟੋਰੈੱਟ
Name[pl]=Bittorrent
Name[pt]=BitTorrent
Name[pt_BR]=BitTorrent
Name[ro]=Bittorrent
Name[ru]=BitTorrent
Name[si]=Bittorrent
Name[sk]=Bittorrent
Name[sl]=BitTorrent
Name[sq]=Bittorrent
Name[sr]=Битторент
Name[sr@ijekavian]=Битторент
Name[sr@ijekavianlatin]=Bittorrent
Name[sr@latin]=Bittorrent
Name[sv]=Bittorrent
Name[th]=บิททอร์เรนท์
Name[tr]=Bittorrent
Name[uk]=Bittorrent
Name[x-test]=xxBittorrentxx
Name[zh_CN]=BitTorrent
Name[zh_TW]=Bittorrent
Comment=Allows files to be downloaded using Bittorrent
Comment[ast]=Permitir la baxada de ficheros usando Metalink
Comment[bg]=Позволява изтегляне на файлове през Bittorrent
Comment[bs]=Preuzimanje datoteka preko bittorenta
Comment[ca]=Permet de descarregar fitxers usant el Bittorrent
Comment[ca@valencia]=Permet de descarregar fitxers usant el Bittorrent
Comment[cs]=Umožňuje stahování souborů pomocí Bittorrentu
Comment[da]=Muliggør download af filer med brug af Bittorrent
Comment[de]=Ermöglicht das Herunterladen von Dateien mit Bittorrent
Comment[el]=Επιτρέπει τη λήψη αρχείων με χρήση του Bittorrent
Comment[en_GB]=Allows files to be downloaded using Bittorrent
Comment[es]=Permite la descarga de archivos usando Bittorrent
Comment[et]=Võimaldab faile alla laadida Bittorrenti abil
Comment[eu]=Fitxategiak Bittorrent erabiliz deskargatzea uzten du
Comment[fi]=Salli tiedostojen lataus Bittorrentilla
Comment[fr]=Permet de télécharger les fichiers en utilisant BitTorrent
Comment[ga]=Ceadaíonn sé seo comhaid a íosluchtú trí Bittorrent
Comment[gl]=Permite obter ficheiros mediante Bittorrent
Comment[hr]=Omogućuje preuzimanje datoteka pomoću Bittorrenta
Comment[hu]=Fájlok letöltése Bittorrenttel
Comment[ia]=Il permitte files de esser discargate per usage de Bittorrent
Comment[it]=Consente di scaricare file con Bittorrent
Comment[ja]=BitTorrent を使ってファイルをダウンロードします
Comment[kk]=Файлдарды Bittorrent көмегімен жүктеуді рұқсат ету
Comment[km]=អនុញ្ញាត​ឲ្យ​ទាញ​យក​ឯកសារ​ដោយ​ប្រើ Bittorrent
Comment[ko]=비트토렌트에서 파일 다운로드하기
Comment[lt]=Leidžia atsisiųsti failus naudojant Bittorrent
Comment[lv]=Ļauj lejupielādēt failus caur Bittorrnet
Comment[nb]=Tillater at filer kan lastes ned med Bittorrent
Comment[nds]=Mit dit Moduul kannst Du Dateien mit Bittorrent daalladen
Comment[nl]=Laat toe bestanden met Bittorrent te downloaden
Comment[nn]=Lèt deg lasta ned filer ved å bruka BitTorrent.
Comment[pa]=ਬਿੱਟ-ਟੋਰੈੱਟ ਦੀ ਵਰਤੋਂ ਕਰਕੇ ਫਾਇਲਾਂ ਡਾਊਨਲੋਡ ਕਰਨ ਲਈ ਸਹਾਇਕ
Comment[pl]=Pozwala pobierać pliki za pomocą Bittorenta
Comment[pt]=Permite transferir ficheiros com o Bittorrent
Comment[pt_BR]=Permite baixar arquivos usando o Bittorrent
Comment[ro]=Permite descărcarea fișierelor prin Bittorrent
Comment[ru]=Позволяет загружать файлы используя BitTorrent
Comment[si]=Bittorrent භාවිතයෙන් ගොනු බාගැනීමට ඉඩ දෙයි
Comment[sk]=Umožňuje stiahnuť súbory pomocou Bittorrentu
Comment[sl]=Omogoča prenos datotek z uporabo BitTorrenta
Comment[sr]=Преузимање фајлова преко битторента
Comment[sr@ijekavian]=Преузимање фајлова преко битторента
Comment[sr@ijekavianlatin]=Preuzimanje fajlova preko Bittorrenta
Comment[sr@latin]=Preuzimanje fajlova preko Bittorrenta
Comment[sv]=Gör det möjligt att ladda ner filer med användning av Bittorrent
Comment[tr]=Bittorrent kullanarak dosya indirmenizi sağlar
Comment[uk]=Надає змогу звантажувати файли за допомогою Bittorrent
Comment[x-test]=xxAllows files to be downloaded using Bittorrentxx
Comment[zh_CN]=允许使用 Bittorrent 协议下载文件
Comment[zh_TW]=允許使用 Bittorrent 下載檔案

# options for library loader
X-KDE-Library=kget_bittorrentfactory
X-KDE-KGet-plugintype=TransferFactory
X-KDE-KGet-rank=200
X-KDE-KGet-framework-version=1

X-KDE-PluginInfo-Author=Lukas Appelhans
X-KDE-PluginInfo-Email=l.appelhans@gmx.de
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=kget_bittorrent_plugin
