[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kget_bittorrentfactory
X-KDE-ParentComponents=kget_bittorrent_plugin

Name=Bittorrent
Name[ar]=بيت تورنت
Name[ast]=Bittorrent
Name[bg]=Bittorrent
Name[bs]=Bittorent
Name[ca]=Bittorrent
Name[ca@valencia]=Bittorrent
Name[cs]=Bittorrent
Name[da]=Bittorrent
Name[de]=Bittorrent
Name[el]=Bittorrent
Name[en_GB]=Bittorrent
Name[es]=Bittorrent
Name[et]=Bittorrent
Name[eu]=Bittorrent
Name[fi]=Bittorrent 
Name[fr]=BitTorrent
Name[ga]=Bittorrent
Name[gl]=Bittorrent
Name[hne]=बिटटोरेंट
Name[hr]=Bittorrent
Name[hu]=Bittorrent
Name[ia]=Bittorrent
Name[it]=Bittorrent
Name[ja]=BitTorrent
Name[kk]=Bittorrent
Name[km]=Bittorrent
Name[ko]=비트토렌트
Name[lt]=Bittorrent
Name[lv]=Bittorrent
Name[ml]=ബിറ്റ്ടോറന്റ്
Name[nb]=Bittorrent
Name[nds]=BitTorrent
Name[nl]=Bittorent
Name[nn]=BitTorrent
Name[pa]=ਬਿੱਟ-ਟੋਰੈੱਟ
Name[pl]=Bittorrent
Name[pt]=BitTorrent
Name[pt_BR]=BitTorrent
Name[ro]=Bittorrent
Name[ru]=BitTorrent
Name[si]=Bittorrent
Name[sk]=Bittorrent
Name[sl]=BitTorrent
Name[sq]=Bittorrent
Name[sr]=Битторент
Name[sr@ijekavian]=Битторент
Name[sr@ijekavianlatin]=Bittorrent
Name[sr@latin]=Bittorrent
Name[sv]=Bittorrent
Name[th]=บิททอร์เรนท์
Name[tr]=Bittorrent
Name[uk]=Bittorrent
Name[x-test]=xxBittorrentxx
Name[zh_CN]=BitTorrent
Name[zh_TW]=Bittorrent
