[Desktop Entry]
Name=KGet
Name[ar]=KGet
Name[ast]=KGet
Name[be]=KGet
Name[bg]=KGet
Name[bn]=কে-গেট
Name[br]=KGet
Name[bs]=KGet
Name[ca]=KGet
Name[ca@valencia]=KGet
Name[cs]=KGet
Name[cy]=KNôl
Name[da]=KGet
Name[de]=KGet
Name[el]=KGet
Name[en_GB]=KGet
Name[eo]=KGet
Name[es]=KGet
Name[et]=KGet
Name[eu]=KGet
Name[fi]=KGet
Name[fr]=KGet
Name[ga]=KGet
Name[gl]=KGet
Name[he]=KGet
Name[hi]=के-गेट
Name[hne]=के-गेट
Name[hr]=KGet
Name[hu]=KGet
Name[ia]=KGet
Name[is]=KGet
Name[it]=KGet
Name[ja]=KGet
Name[kk]=KGet
Name[km]=KGet
Name[ko]=KGet
Name[lt]=KGet
Name[lv]=KGet
Name[mk]=KGet
Name[ml]=കെഗെറ്റ്
Name[ms]=KGet
Name[nb]=KGet
Name[nds]=KGet
Name[ne]=केडीई गेट
Name[nl]=KGet
Name[nn]=KGet
Name[pa]=ਕੇ-ਗੈੱਟ
Name[pl]=KGet
Name[pt]=KGet
Name[pt_BR]=KGet
Name[ro]=KGet
Name[ru]=KGet
Name[se]=KGet
Name[si]=KGet
Name[sk]=KGet
Name[sl]=KGet
Name[sq]=KGet
Name[sr]=К‑гет
Name[sr@ijekavian]=К‑гет
Name[sr@ijekavianlatin]=KGet
Name[sr@latin]=KGet
Name[sv]=Kget
Name[ta]=கேகெட்
Name[tg]=KGet
Name[th]=ดาวน์โหลด-K
Name[tr]=KGet
Name[ug]=KGet
Name[uk]=KGet
Name[vi]=KGet
Name[wa]=KGet
Name[xh]=KGet
Name[x-test]=xxKGetxx
Name[zh_CN]=KGet
Name[zh_HK]=KGet
Name[zh_TW]=檔案傳輸_KGet
Comment=Download links with KGet
Comment[ast]=Baxada d'enllaces con KGet
Comment[bg]=Изтегляне на препратки с KGet
Comment[bs]=Preuzmite vezu KGetom
Comment[ca]=Baixa els enllaços amb el KGet
Comment[ca@valencia]=Baixa els enllaços amb el KGet
Comment[cs]=Stáhnout odkazy pomocí KGet
Comment[da]=Download links med KGet
Comment[de]=Verknüpfungen mit KGet herunterladen
Comment[el]=Λήψη συνδέσμων με το KGet
Comment[en_GB]=Download links with KGet
Comment[es]=Descargar enlaces con KGet
Comment[et]=Linkide allalaadimine KGeti abil
Comment[eu]=Deskargatu estekak KGet-ekin
Comment[fi]=Hae linkit KGet-ohjelmalla
Comment[fr]=Télécharger les liens avec KGet
Comment[ga]=Íosluchtaigh naisc le KGet
Comment[gl]=Obter ligazóns co KGet
Comment[hr]=Preuzima linkove KGetom
Comment[hu]=Hivatkozások letöltése a KGettel
Comment[ia]=Discarga  ligamines con KGet
Comment[it]=Scarica collegamenti con KGet
Comment[ja]=KGet でリンクをダウンロード
Comment[kk]=Сілтемелерден KGet көмегімен жүктеп алу
Comment[km]=ទាញយក​តំណ​ដោយ​ប្រើ KGet
Comment[ko]=KGet으로 링크 다운로드
Comment[lt]=Atsisiųsti nuorodas su KGet
Comment[lv]=Lejupielādēt saites ar KGet
Comment[nb]=Last ned lenker med KGet
Comment[nds]=Links mit KGet daalladen
Comment[nl]=Koppelingen met KGet downloaden
Comment[nn]=Last ned med KGet
Comment[pa]=ਲਿੰਕ KGet ਨਾਲ ਡਾਊਨਲੋਡ 
Comment[pl]=Pobierz odnośniki przy pomocy KGet
Comment[pt]=Obter as ligações com o KGet
Comment[pt_BR]=Baixa links com o KGet
Comment[ro]=Descarcă legături cu KGet
Comment[ru]=Загрузить ссылку с помощью KGet
Comment[si]=KGet සමඟ බාගැනීම් සබඳතා
Comment[sk]=Stiahnuť odkazy pomocou KGet
Comment[sl]=Prenos povezav s KGet
Comment[sr]=Преузмите везу К‑гетом
Comment[sr@ijekavian]=Преузмите везу К‑гетом
Comment[sr@ijekavianlatin]=Preuzmite vezu KGetom
Comment[sr@latin]=Preuzmite vezu KGetom
Comment[sv]=Ladda ner länkar med Kget
Comment[th]=ดาวน์โหลดส่วนเชื่อมโยงด้วย 'ดาวน์โหลด-K'
Comment[tr]=Bağlantıları KGet ile İndir
Comment[uk]=Звантажити посилання за допомогою KGet
Comment[wa]=Hårdêyes d' aberwetaedje avou KGet
Comment[x-test]=xxDownload links with KGetxx
Comment[zh_CN]=用 KGet 下载链接
Comment[zh_TW]=用 KGet 下載連結
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=kget
X-KDE-Library=krunner_kget
X-KDE-PluginInfo-Author=Tomas Van Verrewegen
X-KDE-PluginInfo-Email=tomasvanverrewegen@telenet.be
X-KDE-PluginInfo-Name=krunner_kget
X-KDE-PluginInfo-Version=0.1.5
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
