[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_krunner_kget
X-KDE-ParentComponents=krunner_kget
X-KDE-PluginKeyword=kcm_krunner_kget
Name=KGet
Name[ar]=KGet
Name[ast]=KGet
Name[be]=KGet
Name[bg]=KGet
Name[bn]=কে-গেট
Name[br]=KGet
Name[bs]=KGet
Name[ca]=KGet
Name[ca@valencia]=KGet
Name[cs]=KGet
Name[cy]=KNôl
Name[da]=KGet
Name[de]=KGet
Name[el]=KGet
Name[en_GB]=KGet
Name[eo]=KGet
Name[es]=KGet
Name[et]=KGet
Name[eu]=KGet
Name[fi]=KGet
Name[fr]=KGet
Name[ga]=KGet
Name[gl]=KGet
Name[he]=KGet
Name[hi]=के-गेट
Name[hne]=के-गेट
Name[hr]=KGet
Name[hu]=KGet
Name[ia]=KGet
Name[is]=KGet
Name[it]=KGet
Name[ja]=KGet
Name[kk]=KGet
Name[km]=KGet
Name[ko]=KGet
Name[lt]=KGet
Name[lv]=KGet
Name[mk]=KGet
Name[ml]=കെഗെറ്റ്
Name[ms]=KGet
Name[nb]=KGet
Name[nds]=KGet
Name[ne]=केडीई गेट
Name[nl]=KGet
Name[nn]=KGet
Name[pa]=ਕੇ-ਗੈੱਟ
Name[pl]=KGet
Name[pt]=KGet
Name[pt_BR]=KGet
Name[ro]=KGet
Name[ru]=KGet
Name[se]=KGet
Name[si]=KGet
Name[sk]=KGet
Name[sl]=KGet
Name[sq]=KGet
Name[sr]=К‑гет
Name[sr@ijekavian]=К‑гет
Name[sr@ijekavianlatin]=KGet
Name[sr@latin]=KGet
Name[sv]=Kget
Name[ta]=கேகெட்
Name[tg]=KGet
Name[th]=ดาวน์โหลด-K
Name[tr]=KGet
Name[ug]=KGet
Name[uk]=KGet
Name[vi]=KGet
Name[wa]=KGet
Name[xh]=KGet
Name[x-test]=xxKGetxx
Name[zh_CN]=KGet
Name[zh_HK]=KGet
Name[zh_TW]=檔案傳輸_KGet
Icon=kget
