[Desktop Entry]
Name=KGet
Name[bn]=কে-গেট
Name[cy]=KNôl
Name[hi]=के-गेट
Name[ne]=केडीई गेट
Name[pa]=ਕੇ-ਗੈੱਟ
Name[sv]=Kget
Name[ta]=கேகெட்
Name[x-test]=xxKGetxx
Comment=KGet downloads monitor
Comment[el]=Επόπτης λήψεων KGet
Comment[ga]=Monatóir íosluchtaithe KGet
Comment[km]=កម្មវិធី​គ្រប់គ្រង​ការ​ទាញយក KGet
Comment[nds]=Daallaadkieker för KGet
Comment[zh_CN]=KGet 下载监视器
Comment[zh_TW]=KGet 下載監視器
Icon=kget
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_kget
X-KDE-PluginInfo-Author=Javier Goday
X-KDE-PluginInfo-Email=jgoday@gmail.com
X-KDE-PluginInfo-Name=kget
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
