[Desktop Entry]
Name=KGet
Name[bn]=কে-গেট
Name[cy]=KNôl
Name[ne]=केडीई गेट
Name[sv]=Kget
Name[ta]=கேகெட்
Name[x-test]=xxKGetxx
Icon=kget
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_kget
X-KDE-PluginInfo-Author=Javier Goday
X-KDE-PluginInfo-Email=jgoday@gmail.com
X-KDE-PluginInfo-Name=kget
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Category[ca]=Varis
X-KDE-PluginInfo-Category[cs]=Různé
X-KDE-PluginInfo-Category[de]=Verschiedenes
X-KDE-PluginInfo-Category[el]=Διάφορα
X-KDE-PluginInfo-Category[et]=Muud
X-KDE-PluginInfo-Category[fi]=Sekalaiset
X-KDE-PluginInfo-Category[is]=Ýmislegt
X-KDE-PluginInfo-Category[ja]=その他
X-KDE-PluginInfo-Category[nds]=Anner Saken
X-KDE-PluginInfo-Category[nl]=Diversen
X-KDE-PluginInfo-Category[pt]=Diversos
X-KDE-PluginInfo-Category[pt_BR]=Diversos
X-KDE-PluginInfo-Category[sv]=Diverse
X-KDE-PluginInfo-Category[tr]=Çeşitli Şeyler
X-KDE-PluginInfo-Category[x-test]=xxMiscellaneousxx
X-KDE-PluginInfo-Category[zh_CN]=杂项
X-KDE-PluginInfo-Category[zh_TW]=雜項
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
