[Desktop Entry]
Name=KGet
Name[bn]=কে-গেট
Name[cy]=KNôl
Name[hi]=के-गेट
Name[ne]=केडीई गेट
Name[pa]=ਕੇ-ਗੈੱਟ
Name[sv]=Kget
Name[ta]=கேகெட்
Name[x-test]=xxKGetxx
Comment=KGet downloads monitor
Comment[ca]=Controlador de baixades del KGet
Comment[cs]=Monitor stahování KGet
Comment[da]=KGet downloadovervågning
Comment[de]=KGet-Übertragungsmonitor
Comment[el]=Επόπτης λήψεων KGet
Comment[et]=KGeti allalaadimise jälgija
Comment[fr]=Surveillance des téléchargements KGet
Comment[ga]=Monatóir íosluchtaithe KGet
Comment[gl]=Vixiante das transferencias de KGet
Comment[it]=Monitor scaricamenti di KGet
Comment[ja]=KGet ダウンロードモニタ
Comment[km]=កម្មវិធី​គ្រប់គ្រង​ការ​ទាញយក KGet
Comment[ko]=KGet 다운로드 모니터
Comment[lt]=KGet siuntimų stebėjimas
Comment[lv]=KGet lejupielāžu novērotājs
Comment[nds]=Daallaadkieker för KGet
Comment[nl]=KGet-downloadsmonitor
Comment[pl]=Monitor pobierania KGet
Comment[pt]=Monitor de transferências do KGet
Comment[pt_BR]=Lista de download do Kget
Comment[ro]=Monitor descărcări KGet
Comment[ru]=Монитор заданий KGet
Comment[sl]=Nadzorovanje prenosov v KGet
Comment[sv]=Kget-nerladdningsövervakare
Comment[tr]=KGet indirme izleyici
Comment[uk]=Монітор звантажень KGet
Comment[x-test]=xxKGet downloads monitorxx
Comment[zh_CN]=KGet 下载监视器
Comment[zh_TW]=KGet 下載監視器
Icon=kget
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_kget
X-KDE-PluginInfo-Author=Javier Goday
X-KDE-PluginInfo-Email=jgoday@gmail.com
X-KDE-PluginInfo-Name=kget
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
