# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kget -caption "%c" %i %m
Icon=kget
Terminal=false
Name=KGet
Name[cy]=KNôl
Name[eo]=Prenilo
Name[ne]=केडीई गेट
Name[sv]=Kget
Name[ta]=கேகெட்
Name[x-test]=xxKGetxx
GenericName=Download Manager
GenericName[be]=Праграма сцягвання файлаў
GenericName[bg]=Изтегляне на файлове
GenericName[br]=Merour enkargañ
GenericName[ca]=Gestor de descàrregues
GenericName[cs]=Správce stahování
GenericName[cy]=Rheolydd Lawrlwytho
GenericName[da]=Håndtering af download
GenericName[de]=Download-Manager
GenericName[el]=Διαχειριστής λήψεων αρχείων
GenericName[es]=Gestor de descargas
GenericName[et]=Allalaadimiste haldur
GenericName[eu]=Deskarga kudeatzailea
GenericName[fa]=مدیر بارگیری
GenericName[fi]=Tiedostonlataaja
GenericName[fr]=Gestionnaire de téléchargements
GenericName[ga]=Bainisteoir Thíosluchtaithe
GenericName[gl]=Xestor de Descargas
GenericName[he]=מנהל הורדות
GenericName[hr]=Upravitelj preuzimanja
GenericName[hu]=Letöltéskezelő
GenericName[is]=Niðurhalsstjóri
GenericName[it]=Gestore degli scaricamenti
GenericName[ja]=ダウンロードマネージャ
GenericName[kk]=Жүкеп алу менеджері
GenericName[km]=កម្មវិធី​គ្រប់គ្រង​ការ​ទាញយក
GenericName[lt]=Siuntimų valdymas
GenericName[mk]=Менаџер за симнувања
GenericName[nb]=Nedlastingsbehandler
GenericName[nds]=Daallaadpleger
GenericName[ne]=डाउनलोड प्रबन्धक
GenericName[nl]=Downloadmanager
GenericName[nn]=Nedlastingshandsamar
GenericName[pl]=Menedżer pobierania
GenericName[pt]=Gestor de Transferências
GenericName[pt_BR]=Gerenciador de Download
GenericName[ru]=Диспетчер загрузок
GenericName[sl]=Upravitelj prenosov
GenericName[sr]=Менаџер преузимања
GenericName[sr@latin]=Menadžer preuzimanja
GenericName[sv]=Nerladdningshanterare
GenericName[ta]=பதிவிறக்க மேலாளர்
GenericName[tg]=Мудири Боркунӣ
GenericName[tr]=İndirme Yöneticisi
GenericName[uz]=Ёзиб олиш бошқарувчиси
GenericName[x-test]=xxDownload Managerxx
GenericName[zh_HK]=下載管理員
GenericName[zh_TW]=下載管理員
Categories=Qt;KDE;Network;FileTransfer;
X-DBUS-ServiceType=Unique
