[Desktop Entry]
Actions=KGetDownload;
Type=Service
Icon=
Name=
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,all/allfiles
X-KDE-ExcludeServiceTypes=kdedevice/*
X-KDE-Protocol=!file

[Desktop Action KGetDownload]
Exec=kget %U
Icon=kget
Name=Download with KGet
Name[ar]=نزّل بـ KGet
Name[ast]=Baxada con KGet
Name[be]=Сцягнуць праз KGet
Name[bg]=Изтегляне с KGet
Name[bn]=কে-গেট দিয়ে ডাউনলোড
Name[br]=Enkargañ gant KGet
Name[bs]=Preuzmi KGetom
Name[ca]=Baixa amb el KGet
Name[ca@valencia]=Baixa amb el KGet
Name[cs]=Stáhnout pomocí KGet
Name[da]=Download med KGet
Name[de]=Mit KGet herunterladen
Name[el]=Λήψη αρχείου με το KGet
Name[en_GB]=Download with KGet
Name[eo]=Elŝuti per KGet
Name[es]=Descarga con KGet
Name[et]=Laadi alla KGeti abil
Name[eu]=Deskargatu KGet-ekin
Name[fa]=بارگیری با KGet
Name[fi]=Hae KGet ohjelmalla
Name[fr]=Télécharger avec KGet
Name[ga]=Íosluchtaigh le KGet
Name[gl]=Obter con KGet
Name[he]=הורד בעזרת KGet
Name[hi]=के-गेट के साथ डाउनलोड करें
Name[hne]=के-गेट के साथ डाउनलोड करव
Name[hr]=Preuzmi KGetom
Name[hu]=Letöltés a KGettel
Name[ia]=Discarga  con KGet
Name[is]=Sækja með KGet
Name[it]=Scarica con KGet
Name[ja]=KGet でダウンロード
Name[kk]=KGet көмегімен жүктеп алу
Name[km]=ទាញយក​ដោយ​ប្រើ KGet
Name[ko]=KGet으로 다운로드
Name[lt]=Atsisiųsti su KGet
Name[lv]=Lejupielādēt ar KGet
Name[ml]=കെഗെറ്റുപയോഗിച്ച് ഇറക്കിവെക്കല്‍
Name[nb]=Nedlasting med KGet
Name[nds]=Daalladen mit KGet
Name[ne]=केडीई गेटसँग डाउनलोड गर्नुहोस्
Name[nl]=Met KGet downloaden
Name[nn]=Last ned med KGet
Name[pa]=KGet ਨਾਲ ਡਾਊਨਲੋਡ
Name[pl]=Pobierz za pomocą KGet
Name[pt]=Obter com o KGet
Name[pt_BR]=Baixar com o KGet
Name[ro]=Descarcă cu KGet
Name[ru]=Загрузить с помощью KGet
Name[si]=KGet සමඟ බාගන්න
Name[sk]=Stiahnuť pomocou KGet
Name[sl]=Prenos s KGet
Name[sq]=Shkarko me KGet
Name[sr]=Преузми К‑гетом
Name[sr@ijekavian]=Преузми К‑гетом
Name[sr@ijekavianlatin]=Preuzmi KGetom
Name[sr@latin]=Preuzmi KGetom
Name[sv]=Ladda ner med Kget
Name[th]=ดาวน์โหลดด้วย 'ดาวน์โหลด-K'
Name[tr]=KGet ile İndir
Name[uk]=Звантажити через KGet
Name[vi]=Tải với KGet
Name[x-test]=xxDownload with KGetxx
Name[zh_CN]=用 KGet 下载
Name[zh_HK]=以 KGet 下載
Name[zh_TW]=用 KGet 下載
