[Desktop Entry]
Actions=KGetDownload;
Type=Service
Icon=
Name=
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,all/allfiles
X-KDE-ExcludeServiceTypes=kdedevice/*
X-KDE-Protocol=!file

[Desktop Action KGetDownload]
Exec=kget %U
Icon=kget
Name=Download with KGet
